body {
    background-color: var(--color-background);

}

#canvas-wrapper {
    width: 100%;
    height: calc(50vh + 128px - 20vh + 4vw);
}

#qr-canvas {
    margin: 0 calc(50vw - 128px);
    margin-top: calc(50vh - 128px - 20vh - 4vw);
}


#idk {
    margin-top: 0.3vw;
}

#check-out-button {
    width: 40vw;
    margin-left: 30vw;
    /* transform: translate(-20vw, -15vw); */
}
