#canvas-wrapper {
    width: 100%;
    height: calc(100vh - 20vh - 4vw);
}

#qr-canvas {
    margin: calc(50vh - 10vh - 2vw - 128px) calc(50vw - 128px);
    margin-top: calc(50vh - 128px - 20vh - 4vw);
}