body {
    background-color: var(--color-background);
}

#buttons-wrapper {
    width: 100%;
    text-align: center;
}

button {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

#check-in-button, #check-out-button {
    /* font-size: calc(16pt + .5vw); */
}

#scanner-message {
    font-size: 33px;
}

#user-photo {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#toggle-camera {
    display: none;
}

@media screen and (max-width: 800px) {
    #toggle-camera {
        display: none;
        /* position: absolute; */
        /* margin-left: 49vw; */
        margin-top: 4vw;
        /* transform: translateX(-50%); */
        /* bottom: 2vw; */
    }
    #dummy {
        display: none;
    }
}


