#header {
    width: 50vw;
    margin: 2vw auto;

    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

#header-image {
    height: 100%;
}

.admin-icon {
    background-color: var(--color-primary);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
    display: inline-block;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.admin-icon:hover {
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
}

#admin-icons {
    position: absolute;
    top: 1vw;
    right: -1vw;
}

.admin-image {
    width: 3vw;
    height: 3vw;

    margin: 0.5vw auto;
}

@media screen and (max-width: 800px) {
    .admin-icon {
        width: 8vw;
        height: 8vw;
        margin-right: 3vw;
    }

    .admin-image {
        width: 6vw;
        height: 6vw;
        margin: 1vw auto;
    }
}
