/* @-webkit-keyframes header-expand {
    from {
        width: 85vw;
    }
    to {
        width: 100vw;
    }
}

@-moz-keyframes header-expand {
    from {
        width: 85vw;
    }
    to {
        width: 100vw;
    }
}

@-o-keyframes header-expand {
    from {
        width: 85vw;
    }
    to {
        width: 100vw;
    }
}

@keyframes header-expand {
    from {
        width: 85vw;
    }
    to {
        width: 100vw;
    }
} */

#content {
    width: 100%;
}

#header-logo-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);

    padding-top: 3vh;

    width: 100vw;
    max-width: 700px;
    height: 18vh;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: -1;
}

#header-logo-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#header-logo-text > h1, #header-logo-text > h3 {
    margin: auto 0;
}

#header-navigation-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    margin: 0vh auto 0vh auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8vh;

    -webkit-animation-name: header-expand;

       -moz-animation-name: header-expand;

         -o-animation-name: header-expand;

            animation-name: header-expand;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
         -o-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
         -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    -webkit-box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
    -moz-box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
         box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
     

    z-index: 1;
}

#header-logo-image-wrapper {
    background-color: var(--color-primary);
    /* padding-top: 1vh; */
    height: calc(100%);
    line-height: calc(100%);
    /* padding-bottom: 1vh; */
}

#header-logo-image {
    height: 3.5vh;
    /* width: 6vh; */
    margin-left: 1vw;
    margin-right: 3vw;
    margin-top: 2.25vh;
}

#header-harker-robotics {
    margin-top: calc(-1 * (50% - 0.5vh));
    transform: translateY(-50%);
}

#header-1072-wrapper {
    height: 100%;
    line-height: 8vh;
    background-color: var(--color-primary);
    padding-right: 1.8vw;
}


#header-1072 {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: 1.8vw;
}



.header-navigation {
    background-color: var(--color-primary);
    text-align: center;
    vertical-align: middle;
    
    /* -webkit-box-flex: 1; */
    
    /* -webkit-flex-grow: 1; */
    
       /* -moz-box-flex: 1; */
    
        /* -ms-flex-positive: 1; */
    
            /* flex-grow: 1; */
    
    line-height: 8vh;
    height: 8vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;


    /* border: 1px solid var(--color-light);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; */
    

    -webkit-transition-duration: 0.4s;
    

       -moz-transition-duration: 0.4s;
    

         -o-transition-duration: 0.4s;
    

            transition-duration: 0.4s;
}

.header-navigation:hover {
    background-color: var(--color-primary-light);
    -webkit-box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
       -moz-box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
            box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);

    text-decoration-color: var(--color-light);

    border-bottom: 5px solid var(--color-light);
}

.header-navigation > a > h4 {
    margin: 0 auto;
}

.header-break {
    height: 0px;
    width: 100%;
    display: none;
}

#header-idk {
    flex-grow: 1;
    background-color: var(--color-primary);
    height: 100%;
    width: 50%;
    text-align: right;
    line-height: 8vh;
    padding-right: 2vw;
}

#header-login-button {
    color: var(--color-light);
    height: 100%;
    background-color: var(--color-primary);
}

#header-member-icon {
    width: 5vh;
    height: 5vh;
    margin: auto auto;
    margin-top: 1.5vh;
}

#header-member-icon:hover {
    cursor: pointer;
}

/* 

@media (max-width: 800px) {
    #header-logo-wrapper {
        height: 9vh;
    }
    #header-navigation-wrapper {
        margin-top: 13vh;
        height: 4vh;
    }
    #header-logo-image {
        width: 15vw;
    }
    .no-style-a>h4 {
        font-size: 3.5vw;
    }
    .header-navigation {
        padding: 0;
        line-height: 4vh;
        height: 4vh;
    
    }
} */
