:root {
    --banner-width: 3;
}

#body {
    background-color: var(--color-background);
    /* margin-top: 28vh; */
    
    z-index: -1;
}

#member-image, #member-link {
    position: fixed;
    top: 0.5vw;
    right: 0.5vw;
    z-index: -2;

    width: 3vw;
    height: 3vw;
}

#member-link {
    z-index: 1;
}

/*--------------
|               |
|    Landing    |
|               |
|---------------*/
#landing-banner {
    min-width: 100vw; 
    line-height: 59.4vw;
    text-align: center;
    vertical-align: middle;

    overflow: hidden;
}

#landing-banner-image-wrapper {
    width: 100vw;
}

#landing-banner-image {
    width: 100vw;
}

#landing-banner-image-wrapper::after {
    display: block;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 87, 125, 0.4)), color-stop(95%, #1E3155));
    background-image: -webkit-linear-gradient(top, rgba(66, 87, 125, 0.4), #1E3155 95%);
    background-image: -moz-linear-gradient(top, rgba(66, 87, 125, 0.4), #1E3155 95%);
    background-image: -o-linear-gradient(top, rgba(66, 87, 125, 0.4), #1E3155 95%);
    background-image: linear-gradient(to bottom, rgba(66, 87, 125, 0.4), #1E3155 95%);
    padding: 0;
    margin-top: -88.6vw;
    height: 59.4vw;
    content: "";
}

#landing-banner-text {
    color: var(--color-light);
    font-size: 8vw;
    position: relative;
    margin-top: -61.4vw;
    margin-bottom: 0;
    -webkit-transform: translateY(-2.5vw);
       -moz-transform: translateY(-2.5vw);
        -ms-transform: translateY(-2.5vw);
         -o-transform: translateY(-2.5vw);
            transform: translateY(-2.5vw);
}

#harkerrobo {
    margin-top: 
}

/* #landing-banner-title-text, #landing-banner-secondary-text {
    color: var(--color-light);
    font-size: 7vw;
}

#landing-banner-secondary-text {
    margin-top: -27vw;
    margin-bottom: 20.5vw;
    line-height: normal;
} */

#landing-transition {
    width: 100vw;
    height: 4vw;
    -webkit-transform: translateY(-1%);
       -moz-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
         -o-transform: translateY(-1%);
            transform: translateY(-1%);
    -webkit-filter: drop-shadow(0, 10vh, 1px);
            filter: drop-shadow(0, 10vh, 1px);
    background-color: var(--color-primary);
    -webkit-clip-path: polygon(26% 100%, 0 0, 100% 0);
            clip-path: polygon(26% 100%, 0 0, 100% 0);
}


/*--------------
|               |
|   Team Info   |
|               |
|---------------*/

#team-info {
    text-align: center;
}

#team-background-text {
    margin: 10vw auto;
    font-size: 4vw;
}

#team-statistics-wrapper {
    width: 85vw;
    margin: 0 auto;
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -moz-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: horizontal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: horizontal;
            flex-direction: horizontal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.team-statistic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.team-stat-value {
    margin: 0;

    font-size: 6vw;
    color: var(--color-primary);
}

.team-stat-label {
    margin: 0;

    font-size: 2.2vw;
    color: black;
}

#about-buttons-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: horizontal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: horizontal;
            flex-direction: horizontal;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 10vw auto;
    width: 100vw;
}


/*--------------
|               |
|    Outreach   |
|               |
|---------------*/

#outreach-transition {
    width: 100vw;
    height: 4vw;
    -webkit-transform: translateY(1%);
       -moz-transform: translateY(1%);
        -ms-transform: translateY(1%);
         -o-transform: translateY(1%);
            transform: translateY(1%);
    background-color: var(--color-primary);
    -webkit-clip-path: polygon(76% 0, 0 100%, 100% 100%);
            clip-path: polygon(76% 0, 0 100%, 100% 100%);
}

#outreach {
    width: 100vw;
    height: 74.8vw;

    background-image: url("/new/img/media/index/outreach-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-attachment: fixed;
}

#outreach-gradient {
    width: 100%;
    height: -webkit-calc(100% - 17.35vw);
    height: -moz-calc(100% - 17.35vw);
    height: calc(100% - 17.35vw);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.6%, #1E3155), color-stop(76.56%, rgba(233, 20, 32, 0.2)), color-stop(92.71%, rgba(229, 40, 50, 0.8)), to(rgba(229, 40, 50, 1)));

    background: -webkit-linear-gradient(top, #1E3155 2.6%, rgba(233, 20, 32, 0.2) 76.56%, rgba(229, 40, 50, 0.8) 92.71%, rgba(229, 40, 50, 1) 100%);

    background: -moz-linear-gradient(top, #1E3155 2.6%, rgba(233, 20, 32, 0.2) 76.56%, rgba(229, 40, 50, 0.8) 92.71%, rgba(229, 40, 50, 1) 100%);

    background: -o-linear-gradient(top, #1E3155 2.6%, rgba(233, 20, 32, 0.2) 76.56%, rgba(229, 40, 50, 0.8) 92.71%, rgba(229, 40, 50, 1) 100%);

    background: linear-gradient(180deg, #1E3155 2.6%, rgba(233, 20, 32, 0.2) 76.56%, rgba(229, 40, 50, 0.8) 92.71%, rgba(229, 40, 50, 1) 100%);
    padding-top: 17.4vw;
}

#outreach-info {
    background-color: rgba(240, 240, 240, 0.5);

    width: 40vw;
    height: 40vw;

    margin-left: auto;
    margin-bottom: 17.4vw;
    text-align: center;
}

#outreach-title {
    padding-top: 3vw;
    margin-bottom: 3vw;
}

#outreach-description {
    font-size: 3.2vw;
    line-height: 5vw;
    margin: 0 auto 2vw auto;
    width: 90%;

    color: #355797;
}

#outreach-media-spacer {
    width: 100vw;
    height: 1vw;
    background-color: rgba(229, 40, 50, 1);
}

/*--------------
|               |
|     Media     |
|               |
|---------------*/

#media {
    width: 100vw;
    height: 74.8vw;

    background-image: url("/new/img/media/index/media-banner.png");
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

@media only screen and (max-width: 800px) {
    #outreach, #media {
        background-attachment: scroll;
    }
  }

#outreach-title, #media-title {
    font-size: 6vw;
}

#media-gradient {
    width: 100%;
    height: -webkit-calc(100% - 17.4vw);
    height: -moz-calc(100% - 17.4vw);
    height: calc(100% - 17.4vw);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.56%, rgba(229, 40, 50, 1)), color-stop(8.85%, rgba(233, 20, 32, 0.37)), color-stop(23.44%, rgba(233, 20, 32, 0.2)), color-stop(54.17%, rgba(66, 87, 125, 0.5)), color-stop(92.71%, #1E3155));

    background: -webkit-linear-gradient(top, rgba(229, 40, 50, 1) 1.56%, rgba(233, 20, 32, 0.37) 8.85%, rgba(233, 20, 32, 0.2) 23.44%, rgba(66, 87, 125, 0.5) 54.17%, #1E3155 92.71%);

    background: -moz-linear-gradient(top, rgba(229, 40, 50, 1) 1.56%, rgba(233, 20, 32, 0.37) 8.85%, rgba(233, 20, 32, 0.2) 23.44%, rgba(66, 87, 125, 0.5) 54.17%, #1E3155 92.71%);

    background: -o-linear-gradient(top, rgba(229, 40, 50, 1) 1.56%, rgba(233, 20, 32, 0.37) 8.85%, rgba(233, 20, 32, 0.2) 23.44%, rgba(66, 87, 125, 0.5) 54.17%, #1E3155 92.71%);

    background: linear-gradient(180deg, rgba(229, 40, 50, 1) 1.56%, rgba(233, 20, 32, 0.37) 8.85%, rgba(233, 20, 32, 0.2) 23.44%, rgba(66, 87, 125, 0.5) 54.17%, #1E3155 92.71%);
    padding-top: 17.4vw;
}

#media-info {
    background-color: rgba(240, 240, 240, 0.5);

    width: 40vw;
    height: 40vw;

    margin-right: auto;
    
    margin-bottom: 17.4vw;
    text-align: center;
}

#media-title {
    padding-top: 3vw;
    margin-bottom: 3vw;
}

#media-description {
    font-size: 3.2vw;
    line-height: 5vw;

    width: 90%;
    margin: 0 auto 2vw auto;

    color: #355797;
}


#media-transition {
    width: 100vw;
    height: 4vw;
    -webkit-transform: translateY(-1%);
       -moz-transform: translateY(-1%);
        -ms-transform: translateY(-1%);
         -o-transform: translateY(-1%);
            transform: translateY(-1%);
    -webkit-filter: drop-shadow(0, 10vh, 1px);
            filter: drop-shadow(0, 10vh, 1px);
    background-color: var(--color-primary);
    -webkit-clip-path: polygon(18% 100%, 0 0, 100% 0);
            clip-path: polygon(18% 100%, 0 0, 100% 0);    
}

/*--------------
|              |
|   Sponsors   |
|              |
|---------------*/

#sponsors {
    width: 100vw;
    text-align: center;

    margin-bottom: 10vw;
}

#sponsors-title {
    margin-top: 8vw;
    margin-bottom: 2vw;

    font-size: 6vw;
}

#sponsors-description {
    margin: auto auto;
    width: 75%;
    color: black;

    font-size: 4vw;
    margin-bottom: 6vw;
}

#sponsor-images {
    margin: auto auto;
    margin-bottom: 5vw;
    width: 80vw;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

       -moz-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sponsor-image {
    height: 5vw;

    margin: 2vw;
}