:root {
    --banner-width: 3;
}

#body {
    background-color: var(--color-background);
    /* margin-top: 28vh; */
    
    z-index: -1;
}

/*--------------
|               |
|    Landing    |
|               |
|---------------*/
#landing-banner {
    min-width: 100vw; 
    line-height: 59.4vw;
    text-align: center;
    vertical-align: middle;

    overflow: hidden;
}

#landing-banner-image-wrapper {
    width: 100vw;
}

#landing-banner-image {
    width: 100vw;
}

#landing-banner-image-wrapper::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(66, 87, 125, 0.3), #1E3155 95%);
    padding: 0;
    margin-top: -88.6vw;
    height: 59.4vw;
    content: "";
}

#landing-banner-text {
    color: var(--color-light);
    font-size: 7vw;
    
    position: relative;
    margin-top: -59.4vw;
    margin-bottom: 0;
    transform: translateY(-2.5vw);
}

#landing-transition {
    width: 100vw;
    height: 4vw;
    transform: translateY(-1%);
    filter: drop-shadow(0, 10vh, 1px);
    background-color: var(--color-primary);
    clip-path: polygon(26% 100%, 0 0, 100% 0);
}


/*--------------
|               |
|   Team Info   |
|               |
|---------------*/

#team-info {
    text-align: center;
}

#team-background-text {
    margin: 10vw auto;
    font-size: 4vw;
}

#team-statistics-wrapper {
    width: 85vw;
    margin: 0 auto;
    
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
}

.team-statistic {
    flex-grow: 1;
}

.team-stat-value {
    margin: 0;

    font-size: 6vw;
    color: var(--color-primary);
}

.team-stat-label {
    margin: 0;

    font-size: 2.2vw;
    color: black;
}

#about-buttons-wrapper {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    align-items: center;

    margin: 10vw auto;
    width: 100vw;
}


/*--------------
|               |
|    Outreach   |
|               |
|---------------*/

#outreach-transition {
    width: 100vw;
    height: 4vw;
    transform: translateY(1%);
    background-color: var(--color-primary);
    clip-path: polygon(76% 0, 0 100%, 100% 100%);
}

#outreach {
    width: 100vw;
    height: 74.8vw;

    background-image: url("/new/img/media/index/outreach-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    #outreach {
        background-attachment: fixed;
    }
  }

#outreach-gradient {
    width: 100%;
    height: calc(100% - 17.35vw);

    background: linear-gradient(180deg, #1E3155 2.6%, rgba(233, 20, 32, 0.2) 76.56%, rgba(229, 40, 50, 0.8) 92.71%, rgba(229, 40, 50, 1) 100%);
    padding-top: 17.4vw;
}

#outreach-info {
    background-color: rgba(240, 240, 240, 0.4);

    width: 40vw;
    height: 40vw;

    margin-left: auto;
    margin-bottom: 17.4vw;
    text-align: center;
}

#outreach-title {
    padding-top: 4vw;
    margin-bottom: 3vw;
}

#outreach-description {
    font-size: 3.2vw;
    line-height: 5vw;
    margin: 0 auto 2vw auto;
    width: 90%;
}

#outreach-media-spacer {
    width: 100vw;
    height: 1vw;
    background-color: rgba(229, 40, 50, 1);
}

/*--------------
|               |
|     Media     |
|               |
|---------------*/

#media {
    width: 100vw;
    height: 74.8vw;

    background-image: url("/new/img/media/index/media-banner.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    #media {
        background-attachment: fixed;
    }
  }

#media-gradient {
    width: 100%;
    height: calc(100% - 17.4vw);

    background: linear-gradient(180deg, rgba(229, 40, 50, 1) 1.56%, rgba(233, 20, 32, 0.37) 8.85%, rgba(233, 20, 32, 0.2) 23.44%, rgba(66, 87, 125, 0.5) 54.17%, #1E3155 92.71%);
    padding-top: 17.4vw;
}

#media-info {
    background-color: rgba(240, 240, 240, 0.4);

    width: 40vw;
    height: 40vw;

    margin-right: auto;
    
    margin-bottom: 17.4vw;
    text-align: center;
}

#media-title {
    padding-top: 4vw;
    margin-bottom: 3vw;
}

#media-description {
    font-size: 3.2vw;
    line-height: 5vw;

    width: 90%;
    margin: 0 auto 2vw auto;
}


#media-transition {
    width: 100vw;
    height: 4vw;
    transform: translateY(-1%);
    filter: drop-shadow(0, 10vh, 1px);
    background-color: var(--color-primary);
    clip-path: polygon(18% 100%, 0 0, 100% 0);    
}

/*--------------
|              |
|   Sponsors   |
|              |
|---------------*/

#sponsors {
    width: 100vw;
    text-align: center;

    margin-bottom: 10vw;
}

#sponsors-title {
    margin-top: 8vw;
    margin-bottom: 2vw;

    font-size: 6vw;
}

#sponsors-description {
    margin: auto auto;
    width: 75%;
    color: black;

    font-size: 4vw;
    margin-bottom: 6vw;
}

#sponsor-images {
    margin: auto auto;
    margin-bottom: 5vw;
    width: 80vw;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
}

.sponsor-image {
    height: 5vw;

    margin: 2vw;
}