#body {
    width: 100%;
    margin: 0 auto;
    padding-top: 3vw;
    background-color: var(--color-background);
    text-align: center;

    padding-bottom: 7vw;
}

.blue {
    color: var(--color-primary);
}

.gold {
    color: #efc411
}

.silver {
    color: #9ea7af;
}

.bronze {
    color: #cd7f32
}

#sponsors-title {
    color: var(--color-primary);
    font-size: 6vw;
    margin: 1vw auto;
    font-weight: 900;
}

.sponsor-tier-title {
    font-size: 5vw;
}

.sponsor-tier-description {
    width: 80%;
    margin: 0 auto;
    font-size: 2vw;
    font-weight: normal;
}

.sponsor-images {
    margin: auto auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 80vw;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

       -moz-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.sponsor-image {
    height: 5vw;

    margin: 2vw;
}


.big-image {
    height: 8vw;
    margin: 0;
    margin-right: 3vw;
    margin-left: 3vw;
}

#sponsor-button {
    font-size: 1.8vw;
    font-weight: normal;
}

#contact-link {
    color:black;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
}

#contact-link:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 800px) {
    #sponsors-title {
        font-size: 10vw;
    }

    .sponsor-image {
        height: 10vw;
        margin: 3vw;
    }

    .big-image {
        height: 14vw;
    }

    #sponsor-button {
        font-size: 5vw;
    }

    .sponsor-tier-title {
        font-size: 10vw;
    }

    .sponsor-tier-description {
        font-size: 7vw;
    }
 }