#body {
    width: 100%;
    margin: 0 auto;
    padding-top: 3vw;
    background-color: var(--color-background);
    text-align: center;

    margin-bottom: 7vw;
}

#sponsor-description {
    width: 80%;
    font-size: 3.5vw;
    margin: 2.2vw auto;
}

#sponsor-us-please {
    font-size: 4vw;
}

#sponsors-title {
    color: var(--color-primary);
    font-size: 3.5vw;
    margin: 1vw auto;
    font-weight: bolder;
}

#sponsor-images {
    margin: auto auto;
    margin-bottom: 5vw;
    width: 80vw;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

       -moz-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contact-link {
    color:black;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
}

#contact-link:hover {
    color: var(--color-primary);
}

.sponsor-image {
    height: 5vw;

    margin: 2vw;
}