:root {
    --color-primary: #1e3155;
    --color-primary-light: #4b5a82;
    --color-primary-dark: #001057;

    --color-secondary: #42577d;

    --color-light: #c8cacd;
    --color-background: #F0F0F0;
}

body {
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    color: var(--color-primary);
    font-size: calc(2.4vw + 24pt);
    font-weight: 400;
}

h3 {
    color: var(--color-secondary);
    font-size: calc(1.8vw + 6pt);
    font-weight: 400;
}

h4 {
    color: var(--color-light);
    font-size: 2.6vw;
    font-weight: 400;
}

.no-style-a {
    color: inherit; 
    text-decoration: inherit; 
}

button {
    transition-duration: 0.4s;

    background-color: var(--color-primary);
    border: 1px solid var(--color-light);
    border: none;

    font-size: 2.8vw;
    color: var(--color-light);
    text-align: center;

    /* width: 15vw; */
    height: 5vw;
    padding: 1.5vw;
    vertical-align: middle;
    line-height: 2vw;

    border-radius: 3px;
    cursor: pointer;
}

/* * { UNCOMMENT THIS
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.80), 0 20px 100px 0 rgba(0,0,0,0.80);
} */
 
button:hover {
    background-color: var(--color-primary-light);
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20), 0 15px 48px 0 rgba(0,0,0,0.30);
}

button:focus {
    outline: none;
}