<title> Harker Robotics 1072 </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Harker Robotics FRC Team 1072">
<meta name="google-signin-client_id" content="799007462638-4qe4hkl325bd5gilf3qgrtivjltdrv6v..apps.googleusercontent.com">

<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="/css/checkbox.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.structure.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css" />


<link rel="icon" type="image/png" href="/img/art/harker-robotics-logo.png" />

<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css' />
