<title>
  <% if (typeof title == 'string') { %>
    <%- title %>
  <% } else { %>
    Harker Robotics 1072
  <% } %>
</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="Description" content="The Harker Robotics FRC Team 1072" />
<meta name="google-signin-scope" content="profile email" />
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com https://code.jquery.com https://apis.google.com https://www.youtube.com; object-src 'self'" />
<meta name="google-signin-client_id" content="<%= GoogleClientID %>">

<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
<!--<link rel="stylesheet" type="text/css" href="/css/checkbox.css" />-->
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.structure.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css" />
<link rel="stylesheet" type="text/css" href="/css/member.css" />

<link rel="icon" type="image/png" href="/img/art/harker-robotics-logo.png" />

<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css' />

<!--Favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="/img/Favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/Favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/Favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/Favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/Favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/Favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/Favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/Favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/Favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/Favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/Favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/Favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/Favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/img/Favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/Favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script src="https://apis.google.com/js/platform.js" defer></script>
<!--<script src="https://www.youtube.com/player_api" defer></script>-->
<!-- <script src="/js/bootstrap.min.js" defer></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
<script src="/js/main.js?v=3" defer></script>

<link href="https://fonts.googleapis.com/css?family=Chivo:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
