<!--<script src="/js/jquery-ui.min.js" defer></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
<script src="/js/main.js"></script>

<!--<script src="/js/konami.js" defer></script>-->

<div id="player"></div>
