<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <script>
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function loadGAPI() {
        gapi.load('auth2', function(){
          if (!gapi || !gapi.auth2 || !gapi.auth2.getAuthInstance()) {
            gapi.auth2.init()
          }
        })
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function() {
          console.log('User signed out.')
        })
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', location.protocol+'//'+location.hostname + '/member/token')
        xhr.send()
        location.reload()
      }
    </script>
    <script src="https://apis.google.com/js/platform.js" onload="loadGAPI()" async></script>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" gotoname="">Harker Robotics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li><a href="/member/">Home</a></li>
        <li><a href="/member/purchase/create">Create Purchase</a></li>
        <li><a href="/member/purchase/list">View Purchases</a></li>
        <li><a href="/member/purchase/list/my">My Purchases</a></li>
        <% if (auth.loggedin && auth.level >= 2) { %>
          <li><a href="/member/purchase/admin">Admin</a></li>
        <% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if (auth.loggedin) { %>
          <li class="deleteIfSignedOut" onclick="signOut()"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
        <% } %>
      </ul>

      <!--<script>
        console.log(getCookie('loggedin'))
        if (getCookie('loggedin') !== "true") {
          var toHide = document.getElementsByClassName("deleteIfSignedOut")
          for(var i = 0; i < toHide.length; i++){
            toHide[i].style.display = "none"
          }
          console.log('should happen')
        }
      </script>-->

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
