<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <script>
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function loadGAPI() {
        gapi.load('auth2', function(){
          if (!gapi || !gapi.auth2 || !gapi.auth2.getAuthInstance()) {
            gapi.auth2.init()
          }
        })
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function() {
          console.log('User signed out.')
          var xhr = new XMLHttpRequest();
          xhr.open('DELETE', location.protocol+'//'+location.hostname + '/member/token')
          xhr.send()
          location.href='/'
        })

      }
    </script>
    <script src="https://apis.google.com/js/platform.js" onload="loadGAPI()" async defer></script>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" gotoname="">Harker Robotics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left deleteIfSignedOut">
        <li><a href="/member/">Home</a></li>
        <!--<li><a href="/member/wiki">Wiki</a></li>
        <li><a href="/member/challenges">Challenges</a></li>
        <li><a href="/member/volunteer">Volunteer</a></li>-->
        <!-- <% if (auth.loggedin && auth.level >= ranks.harker_student) { %>
          <li><a href="/member/attendance">Attendance</a></li>
        <% } %> -->
        <% if (auth.loggedin && auth.level >= ranks.harker_student) { %>
          <li><a href="/member/blog">Blog</a></li>
        <% } %>
        <li><a href="/member/resources">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Purchase <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/member/purchase/create">Create</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/member/purchase/list">View All</a></li>
            <li><a href="/member/purchase/list_my">My Orders</a></li>
            <li><a href="/member/purchase/total">Totals</a></li>
            <li role="separator" class="divider"></li>
            <% if (auth.loggedin && (auth.level == ranks.admin || auth.level == ranks.superadmin)) { %>
              <li><a href="/member/purchase/admin">Admin</a></li>
            <% } %>
            <% if (auth.loggedin && auth.level >= ranks.mentor) { %>
              <li><a href="/member/purchase/mentor">Mentor</a></li>
            <% } %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parts<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/member/parts/search">Search</a></li>
            <li><a href="/member/parts/folders">Folders</a></li>
            <% if (auth.loggedin && auth.level >= ranks.parts_whitelist) { %>
              <li><a href="/member/parts/create">Create</a></li>
            <% } %>
          </ul>
        </li>
        <% if (auth.loggedin && auth.level >= ranks.admin) { %>
          <li><a href="/member/shortener">URL Shortener</a></li>
        <% } %>
        <% if (auth.loggedin && auth.level >= ranks.superadmin) { %>
          <li><a href="/member/userman">UAMS</a></li>
        <% } %>
        <!--<li><a href="/member/photos" class="deleteIfSignedOut">Photos</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="deleteIfSignedOut" onclick="signOut()"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
      </ul>

      
      <script>

        if (<%= auth.loggedin %>) $('.deleteIfSignedOut').show()
        else $('.deleteIfSignedOut').hide()
       
      </script>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
