<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <script>
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function loadGAPI() {
        gapi.load('auth2', function(){
          if (!gapi || !gapi.auth2 || !gapi.auth2.getAuthInstance()) {
            gapi.auth2.init()
          }
        })
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance()
        auth2.signOut().then(function() {
          console.log('User signed out.')
          var xhr = new XMLHttpRequest();
          xhr.open('DELETE', location.protocol+'//'+location.hostname + '/member/token')
          xhr.send()
          location.href='/'
        })

      }
    </script>
    <script src="https://apis.google.com/js/platform.js" onload="loadGAPI()" async defer></script>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" gotoname="">Harker Robotics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left deleteIfSignedOut">
        <li><a href="/member/">Home</a></li>
        <!--<li><a href="/member/wiki">Wiki</a></li>
        <li><a href="/member/challenges">Challenges</a></li>
        <li><a href="/member/volunteer">Volunteer</a></li>-->
        <% if (auth.loggedin && auth.level >= ranks.harker_student) { %>
          <li><a href="/member/attendance">Attendance</a></li>
        <% } %>
        <% if (auth.loggedin && auth.level >= ranks.harker_student) { %>
          <li><a href="/member/blog">Blog</a></li>
        <% } %>
        <li><a href="/member/resources">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Purchase <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/member/purchase/create">Create</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/member/purchase/list">View All</a></li>
            <li><a href="/member/purchase/list_my">My Orders</a></li>
            <li><a href="/member/purchase/total">Totals</a></li>
            <li role="separator" class="divider"></li>
            <% if (auth.loggedin && (auth.level == ranks.admin || auth.level == ranks.superadmin)) { %>
              <li><a href="/member/purchase/admin">Admin</a></li>
            <% } %>
            <% if (auth.loggedin && auth.level >= ranks.mentor) { %>
              <li><a href="/member/purchase/mentor">Mentor</a></li>
            <% } %>
          </ul>
        </li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parts<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/member/parts/search">Search</a></li>
            <li><a href="/member/parts/folders">Folders</a></li>
            <% if (auth.loggedin && auth.level >= ranks.parts_whitelist) { %>
              <li><a href="/member/parts/create">Create</a></li>
            <% } %>
          </ul>
        </li> -->
        <% if (auth.loggedin && auth.level >= ranks.admin) { %>
          <li><a href="/member/shortener">URL Shortener</a></li>
        <% } %>
        <% if (auth.loggedin && auth.level >= ranks.superadmin) { %>
          <li><a href="/member/userman">UAMS</a></li>
        <% } %>
        <!--<li><a href="/member/photos" class="deleteIfSignedOut">Photos</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="deleteIfSignedOut" onclick="signOut()"><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a></li>
      </ul>

      
      <script>

        if (<%= auth.loggedin %>) $('.deleteIfSignedOut').show()
        else $('.deleteIfSignedOut').hide()
        window.roles = "leyJwaXQiOiJZb3UgaGF2ZSBiZWVuIHNlbGVjdGVkIGZvciB0aGUgcm9sZSBvZiBwaXQgY3Jldy4gWW91IHdpbGwgYmUgaW4gb3VyIHRlYW0ncyBwaXQgZHVyaW5nIHRoZSBjb21wZXRpdGlvbiwgd2hlcmUgeW91IHdpbGwgd29yayBvbiBhbnkgbmVjZXNzYXJ5IHJlcGFpcnMgb3IgaW1wcm92ZW1lbnRzIGFmdGVyIGVhY2ggbWF0Y2guIFlvdSBtYXkgYWxzbyBoZWxwIGluIHRlc3RpbmcgdGhlIHJvYm90IG9yIHByZXBhcmluZyBpdCBiZWZvcmUgYSBtYXRjaC4gV2Ugd2lsbCBiZSBwdWJsaWNpemluZyBhIHNwZWNpZmljIHBpdCBzY2hlZHVsZSBjbG9zZXIgdG8gdGhlIGRhdGUgb2YgdGhlIGV2ZW50LiBXaGVuIHlvdSBhcmUgbm90IGluIHRoZSBwaXQsIHlvdSBtYXkgb3B0aW9uYWxseSBvZmZlciBhc3Npc3RhbmNlIHdpdGggc2NvdXRpbmcgdG8gcHJvdmlkZSB1cyB3aXRoIGFkZGl0aW9uYWwgZGF0YSBwb2ludHMuIFlvdSBhcmUgYWxzbyBlbGlnaWJsZSB0byB0cnkgb3V0IHRvIGJlIHBhcnQgb2YgdGhlIGRyaXZlIHRlYW0uIERyaXZlciB0cnlvdXRzIHdpbGwgYmUgaGVsZCBuZXh0IHdlZWssIGFuZCBhbiBlbWFpbCB3aWxsIGJlIGdvaW5nIG91dCBzb29uIHdpdGggbW9yZSBkZXRhaWxzLiIsInNjb3V0IjoiWW91IGhhdmUgYmVlbiBzZWxlY3RlZCBmb3IgdGhlIHJvbGUgb2Ygc2NvdXQuIFlvdSB3aWxsIGJlIGNvbGxlY3RpbmcgZGF0YSBvbiBtYXRjaGVzIHVzaW5nIHRoZSBzY291dGluZyBhcHAgZHVyaW5nIGNvbXBldGl0aW9ucy4gV2Ugd2lsbCB1c2UgdGhpcyBkYXRhIHRvIGZvcm11bGF0ZSBtYXRjaCBzdHJhdGVneSBhbmQgdG8gc2VsZWN0IHRoZSBpZGVhbCByb2JvdCB0byBqb2luIG91ciBhbGxpYW5jZSBkdXJpbmcgZWxpbWluYXRpb24gbWF0Y2hlcy4gUGxlYXNlIGZpbGwgb3V0IHRoZSBmb3JtIGhlcmUgdG8gc2lnbiB1cCBmb3IgYSB0cmFpbmluZyBzbG90OiByb2JvdGljcy5oYXJrZXIub3JnL3Njb3V0ZXJ0cmFpbmluZy4gWW91IGFyZSBhbHNvIGVsaWdpYmxlIHRvIHRyeSBvdXQgdG8gYmUgcGFydCBvZiB0aGUgZHJpdmUgdGVhbS4gRHJpdmVyIHRyeW91dHMgd2lsbCBiZSBoZWxkIG5leHQgd2VlaywgYW5kIGFuIGVtYWlsIHdpbGwgYmUgZ29pbmcgb3V0IHNvb24gd2l0aCBtb3JlIGRldGFpbHMuIiwic3VwZXJzY291dCI6IllvdSBoYXZlIGJlZW4gc2VsZWN0ZWQgZm9yIHRoZSByb2xlIG9mIHN1cGVyIHNjb3V0LiBZb3Ugd2lsbCBiZSB3YXRjaGluZyBhIGxhcmdlIG1ham9yaXR5IChvciBhbGwpIG9mIG91ciBtYXRjaGVzIGFuZCBjb2xsZWN0aW5nIHF1YWxpdGF0aXZlIGFuZCBzdWJqZWN0aXZlIGRhdGEgLS0gbm90IHVzaW5nIHRoZSBzY291dGluZyBhcHAuIFRoaXMgd2lsbCBoZWxwIHlvdSBpbiB1bmRlcnN0YW5kaW5nIHRoZSBib3RzIHZlcnkgd2VsbCBzbyB0aGF0IHlvdSBjYW4gaGVscCB1cyB0byBkZWNpZGUgd2hpY2ggcm9ib3RzIHdlIHdpbGwgc2VsZWN0IGZvciBvdXIgcGxheW9mZiBhbGxpYW5jZSBpbiB0aGUgZWxpbWluYXRpb24gbWF0Y2hlcy4gVGhpcyB3aWxsIGFsc28gaGVscCB1cyB0byByZWZpbmUgb3VyIG1hdGNoIHN0cmF0ZWd5IHRvIGNvdW50ZXIgb3RoZXIgYm90cyBkdXJpbmcgb3VyIG1hdGNoZXMuIn0";
        window.rolesData = "ieyIyMmNoaXJhZ2siOiJwaXQiLCIyMGZpbm5mIjoicGl0IiwiMjBwcmFrcml0aiI6InN1cGVyc2NvdXQifQ";
        window.travelTeamData = "aeyIyMmNoaXJhZ2siOiJDb25ncmF0dWxhdGlvbnMhIEkgYW0gcGxlYXNlZCB0byBpbmZvcm0geW91IHRoYXQgeW91IHdlcmUgY2hvc2VuIHRvIGJlIHBhcnQgb2YgdGhlIHRyYXZlbCB0ZWFtIGZvciBDZW50cmFsIFZhbGxleSBSZWdpb25hbC4gV2UgaGFkIHRvIG1ha2Ugc2V2cmFsIGNoYWxsZW5naW5nIGRlY2lzaW9ucywgYnV0IHlvdXIgYXR0ZW5kYW5jZSBzaWduaWZpY2FudGx5IHN1cnBhc3NlZCB0aGUgcmVxdWlyZWQgYmVuY2htYXJrLiBcblxuIElmIHlvdSBoYXZlIG5vdCB0dXJuZWQgaW4geW91ciBwZXJtaXNzaW9uIHNsaXAgZm9yIHRoZSBldmVudCwgYmUgc3VyZSB0byB0dXJuIGl0IGludG8gRHIuIE5lbHNvbidzIHR1cm4gaW4gYm94IGFzIHNvb24gYXMgcG9zc2libGUuIFlvdSBkbyBub3QgbmVlZCB0byBlZGl0IHRoZSByb29tYXRlIHNlbGVjdGlvbiBmb3JtLiBJZiBhbnkgbW9pZGlmY2F0aW9ucyBoYXZlIGJlZW4gbWFkZSB0IG95b3VyIHJvb20gbGlzdCwgeW91IHdpbGwgYmUgaW5mb3JtZWQgb3ZlciB0aGUgdXBjb21pbmcgd2VlLCBhbG9uZyB3aXRoIHlvdXIgZmluYWxpemVkIHJvbGUgYXQgdGhlIGV2ZW4gKHNjb3V0aW5nLCBwaXQsIG1lZGlhLCBldGMuKS4gXG5cbiBGaW5hbGx5LCBwbGVhc2Ugbm90ZSB0aGF0IHF1YWxpZmljYXRpb24gZm9yIHRoZSBDZW50cmFsIFZhbGxleSB0cmF2ZWwgdGVhbSBkb2VzIG5vdCBhbW91bnQgdG8gYSBndWFyYW50ZWVkIHBsYWNlIG9uIHRoZSBNb250ZXJleSBCYXkgdHJhdmVsIHRlYW0uIFlvdSBtdXN0IGtlZXAgdXAgeW91ciBzdHJvbmcgYXR0ZW5kYW5jZSByZWNvcmQgdG8gZW5zdXJlIHlvdXIgcXVhbGlmaWNhdGlvbiBmb3IgZnV0dXJlIGV2ZW50cy4gXG5cbkxvb2tpbmcgZm9yd2FyZCB0byB0aGUgY29tcGV0aXRpb24gc2Vhc29uIVxuXG5GaW5uIiwiMjBmaW5uZiI6IkNvbmdyYXR1bGF0aW9ucyEgSSBhbSBwbGVhc2VkIHRvIGluZm9ybSB5b3UgdGhhdCB5b3Ugd2VyZSBjaG9zZW4gdG8gYmUgcGFydCBvZiB0aGUgdHJhdmVsIHRlYW0gZm9yIENlbnRyYWwgVmFsbGV5IFJlZ2lvbmFsLiBXZSBoYWQgdG8gbWFrZSBzZXZyYWwgY2hhbGxlbmdpbmcgZGVjaXNpb25zLCBidXQgeW91ciBhdHRlbmRhbmNlIHNpZ25pZmljYW50bHkgc3VycGFzc2VkIHRoZSByZXF1aXJlZCBiZW5jaG1hcmsuIFxuXG4gSWYgeW91IGhhdmUgbm90IHR1cm5lZCBpbiB5b3VyIHBlcm1pc3Npb24gc2xpcCBmb3IgdGhlIGV2ZW50LCBiZSBzdXJlIHRvIHR1cm4gaXQgaW50byBEci4gTmVsc29uJ3MgdHVybiBpbiBib3ggYXMgc29vbiBhcyBwb3NzaWJsZS4gWW91IGRvIG5vdCBuZWVkIHRvIGVkaXQgdGhlIHJvb21hdGUgc2VsZWN0aW9uIGZvcm0uIElmIGFueSBtb2lkaWZjYXRpb25zIGhhdmUgYmVlbiBtYWRlIHQgb3lvdXIgcm9vbSBsaXN0LCB5b3Ugd2lsbCBiZSBpbmZvcm1lZCBvdmVyIHRoZSB1cGNvbWluZyB3ZWUsIGFsb25nIHdpdGggeW91ciBmaW5hbGl6ZWQgcm9sZSBhdCB0aGUgZXZlbiAoc2NvdXRpbmcsIHBpdCwgbWVkaWEsIGV0Yy4pLiBcblxuIEZpbmFsbHksIHBsZWFzZSBub3RlIHRoYXQgcXVhbGlmaWNhdGlvbiBmb3IgdGhlIENlbnRyYWwgVmFsbGV5IHRyYXZlbCB0ZWFtIGRvZXMgbm90IGFtb3VudCB0byBhIGd1YXJhbnRlZWQgcGxhY2Ugb24gdGhlIE1vbnRlcmV5IEJheSB0cmF2ZWwgdGVhbS4gWW91IG11c3Qga2VlcCB1cCB5b3VyIHN0cm9uZyBhdHRlbmRhbmNlIHJlY29yZCB0byBlbnN1cmUgeW91ciBxdWFsaWZpY2F0aW9uIGZvciBmdXR1cmUgZXZlbnRzLiBcblxuTG9va2luZyBmb3J3YXJkIHRvIHRoZSBjb21wZXRpdGlvbiBzZWFzb24hXG5cbkZpbm4iLCIyMnByYWtyaXRqIjoiVW5mb3J0dW5hdGVseSwgd2Ugd2VyZSBub3QgYWJsZSB0byBob25vciB5b3VyIHJlcXVlc3QgdG8gYXR0ZW5kIHRoZSBNb250ZXJleSBCYXkgUmVnaW9uYWwuIE91ciB0cmF2ZWwgdGVhbSB3YXMgYXQgY2FwYWNpdHkgYW5kIHlvdSBkaWQgbm90IHN1ZmZpY2llbnQgaG91cnMgdG8gZWFybiB5b3Vyc2VsZiBhIHNwb3Qgb24gdHJhdmVsIHRlYW0uIFlvdSBjb3VsZCBhbHNvIGJlIG1vcmUgaW52b2x2ZWQgaW4gb3ZlcmFsbCB0ZWFtIGFzIHdlbGwuIn0"
        window.decode = function(x) {return JSON.parse(atob(x.substring(1)));}
      </script>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
