<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/" gotoname="">Harker Robotics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li><a gotoname="landing" href="#hackathon-tile">Hackathon</a></li>
        <li><a gotoname="donate" href="#donate-tile">Donate</a></li>
        <li><a gotoname="contact" href="#contact-tile">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="member/login">Login</a></li>
        <li><a class="iconlink" href="https://instagram.com/harkerrobotics" target="_blank"><i class="fa fa-instagram iconlink" aria-hidden="true"></i></a></li>
        <li><a class="iconlink" href="https://youtube.com/harker1072" target="_blank"><i class="fa fa-youtube iconlink" aria-hidden="true"></i></a></li>
        <li><a class="iconlink" href="https://www.facebook.com/Harker-Robotics-Team-1072-199777950060812/" target="_blank"><i class="fa fa-facebook iconlink" aria-hidden="true"></i></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
