<!DOCTYPE html>
<html>
    <head>
        <title>About</title>    

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

         <!-- Site Styles -->
         <link rel="stylesheet" href="new/css/theme.css" />
         <link rel="stylesheet" href="new/css/splash.css" />
         <link rel="stylesheet" href="new/css/header.css" />
         <link rel="stylesheet" href="new/css/footer.css" />

         <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/about.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <div id="about">
                    <h1>About</h1>
                    <h2>Mission Statement</h2>
                    <p id="missionstatement">To grant club members the opportunity to learn STEAM (Science, Technology, Engineering, Arts, and Mathematics) skills through hands-on experience with robots and their components. To experience the organization and teamwork required to design, build and enter into the FIRST® competition. To perform with joy, professionalism, and excellence.</p>
                </div>  
                
                <div id="members">
                    <h1>Members</h1>
                    <h2>The 2019 Harker Robotics Team</h2>
                    <img id="team-picture" src="/new/img/media/about/team-picture.JPG" />
                </div>
                <div id="leaders">
                    <h1>Leaders</h1>
                    <h2>Presidents</h2>
                    <p>Presidents oversee the broader vision and ensure the smooth function and success of our team.</p>
                    <div id="triumvirate">
                        <div class="leader">
                            <h4 class="individual-title">Technical President</h4>
                            <img class="leader-image" src="new/img/faces/rajasekharan.jpg" />
                            <h5>Sanjay Rajasekharan</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Executive President</h4>
                            <img class="leader-image" src="new/img/faces/frankis.jpg" />
                            <h5>Finn Frankis</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Operations President</h4>
                            <img class="leader-image" src="new/img/faces/bhimaraju.jpg" />
                            <h5>Hari Bhimaraju</h5>
                        </div>
                    </div>
                    <h2>Directors</h2>
                    <p>Directors operate directly under presidents and manage specific subteam functions.</p>
                    <h3>Technical Directors</h3>
                    <div id="tech-directors">
                        <div class="leader">
                            <h4 class="individual-title">Design Director</h4>
                            <img class="leader-image" src="new/img/faces/vinod.jpg" />
                            <h5>Aditi Vinod</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Mechanical Director</h4>
                            <img class="leader-image" src="new/img/faces/sonecha.jpg" />
                            <h5>Rohan Sonecha</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Machining Director</h4>
                            <img class="leader-image" src="new/img/faces/affaki.jpg" />
                            <h5>Chloe Affaki</h5>
                        </div>
                    </div>
                    <h4>Electrical Directors</h4>
                    <div id="e-directors">
                        <div class="leader">
                            <img class="leader-image" src="new/img/faces/clark.jpg" />
                            <h5>Quentin Clark</h5><br />
                        </div>
                        <div class="leader">
                            <img class="leader-image" src="new/img/faces/cao.jpg" />
                            <h5>Ethan Cao</h5>
                        </div>
                    </div>
                    <h4>Software Directors</h4>
                    <div id="reeeeeeeee">
                        <div class="leader">
                            <img class="leader-image" src="new/img/faces/kohli.jpg" />
                            <h5>Jatin Kohli</h5><br />
                        </div>
                        <div class="leader">
                            <img class="leader-image" src="new/img/faces/jia.jpg" />
                            <h5>Angela Jia</h5>
                        </div>
                    </div>
                    <h3>Operations Directors</h3>
                    <div id="opsgang">
                        <div class="leader">
                            <h4 class="individual-title">App Development Director</h4>
                            <img class="leader-image" src="new/img/faces/kaushik.jpg" />
                            <h5>Chirag Kaushik</h5>
                        </div>
                        <div class="leader">
                            <h4 class="individual-title">Imagery Director</h4>
                            <img class="leader-image" src="new/img/faces/zhu.jpg" />
                            <h5>Gloria Zhu</h5>
                        </div>
                    </div>
                </div>
            </div>
            <%- include(__base + 'views/new/partials/footer.ejs') %>
        </div>
    </body>
</html>