<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        
        <!-- External Styles -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->

        <!-- Site Styles -->
        <link rel="stylesheet" href="new/css/theme.css" />
        <link rel="stylesheet" href="new/css/header.css" />
        <link rel="stylesheet" href="new/css/splash.css" />
        
        <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/index.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <div id="landing-banner">
                    <div id="landing-banner-image-wrapper">
                        <img id="landing-banner-image" src="/new/img/media/index/landing-background.png" />
                    </div>
                    <h1 id="landing-banner-text">Bye Chris!</h1>
                </div>
                <img id="landing-transition-svg" src="/new/img/svg/landing-transition.svg" />
            </div>
        </div>
    </body>
</html>
