<!DOCTYPE html>
<html>
    <head>
        <title>Harker Robotics</title>
        
        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Site Styles -->
        <link rel="stylesheet" href="new/css/theme.css" />
        <link rel="stylesheet" href="new/css/header.css" />
        <link rel="stylesheet" href="new/css/splash.css" />
        
        <!-- Page Styles -->
        <link rel="stylesheet" href="new/css/index.css" />

        <!-- Site Scripts -->
        <script src="new/js/splash.js" type="text/javascript" defer></script>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/splash.ejs') %>
        <div id="content">
            <%- include(__base + 'views/new/partials/header.ejs') %>
            <div id="body">
                <div id="landing-banner">
                    <div id="landing-banner-image-wrapper">
                        <img id="landing-banner-image" src="/new/img/media/index/landing-background.png" />
                    </div>
                    <h1 id="landing-banner-text">Harker Robotics?</h1>
                </div>
                <img id="landing-transition-svg" src="/new/img/svg/landing-transition.svg" />
                <div id="team-info">
                    <h1 id="team-background-text">We are an FRC Team located at The Harker School.</h1>
                    <div id="team-statistics-wrapper">
                        <div class="team-statistic">
                            <h3 class="team-stat-value">100</h2>
                            <h4 class="team-stat-label">Members</h3>
                        </div>
                        <div class="team-statistic">
                            <h3 class="team-stat-value">0</h2>
                            <h4 class="team-stat-label">Championships</h3>
                        </div>
                        <div class="team-statistic">
                            <h3 class="team-stat-value">17</h2>
                            <h4 class="team-stat-label">Years</h3>
                        </div>
                    </div>
                    <div id="about-buttons-wrapper">
                        <button>About</button>
                        <button>Members</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
