<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

      <header id="logs">
        <h1 class="title">LOGS</h1>
      </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
