.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    /* gap: 2vh; */
}

#file-err-msg {
    color: red;
    font-size: 1em;
    padding: 10vh 0 2vh 0;
}
