header, section {
  padding-top: 70px;
  background: linear-gradient(90deg, #FF0000 0%, #000EFF 100%);
  mix-blend-mode: normal;
  opacity: .5;
  height: 100vh;
  width: 100vw;
  color: white;
}

ul.no-bullets {
  list-style-type: none;
}

.title {
  font-size: 5em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
}

/* landing */

#landing {
  background: url('/img/media/direc/landing-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.landingtext {
  font-family: neuropol, "Helvetica Neue", sans-serif;
  text-align: center;
  display: none;
}

h1.landingtext {
  font-size: 75px;
}

h2.landingtext {
  font-size: 50px;
}

div.landingtext {
  padding-top: 10%;
}


/* contact */

#contact-tile {
  background: url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),url('/img/media/direc/contact-background.jpg') no-repeat center center; /* Standard syntax (must be last) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

#contact-tile .container-fluid {
  height: 100%;
  width: 100%;
}

#contact-tile-container {
  margin: 0 auto;
  background: rgba(0,0,0, 0.6);
  border-radius: 25px;
  width: 90%;
  padding: 30px 0px;
  margin-top: 50px;
}

#contact-tile li a {
  color: white;
  font-size: 2em;
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}
