* {
  transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
}

*:focus {
  outline: 0px !important;
}

header, section {
  padding-top: 40px;
  background: linear-gradient(90deg, rgba(255,0,0, .5) 0%, rgba(0,14,255, .5) 100%);
  mix-blend-mode: normal;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
}

ul.no-bullets {
  list-style-type: none;
}

.title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: .25em;
}

h1.title {
  font-size: 5em;
}

@media (max-width:700px)
{
  h1.title {
    font-size: 2.5em;
  }
}

@font-face {
  font-family: neuropol;
  src: url('../fonts/neuropol.ttf');
}

.learn-more-button {
  font-size: 45px;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  height: 15vh;
  width: 35vw;
  margin: auto;
  margin-top: 30px;
  display: table;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.learn-more-button:hover {
  background-color: rgba(0,0,0,.6);
}

.learn-more-button:active, a:focus > .learn-more-button {
  background-color: rgba(0,0,0,.65);
}

.learn-more-button > p {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

a.regular {
  /*color: aqua;*/
  font-weight: bold;
  color: aquamarine;
}

a.regular:hover {
  /*color: aqua;*/
  color: aquamarine;
}

a.covert {
  color: white;
}

a.covert:hover {
  text-decoration: none;
  color: white;
}

.info-text {
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  margin: 5%;
  color: white;
  text-align: center;
}

#player {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* landing */

#landing-tile {
  background: url('/img/media/direc/landing-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

h1.landingtext, h2.landingtext {
  font-family: neuropol, Montserrat, "Helvetica Neue", sans-serif;
  text-align: center;
  display: none;
}

h1.landingtext {
  font-size: 75px;
}

h2.landingtext {
  font-size: 50px;
}

div.landingtext {
  padding-top: 10%;
}

@media (max-width:750px), (max-height: 500px)
{
  h1.landingtext {
    font-size: 40px;
  }

  h2.landingtext {
    font-size: 25px;
  }

  div.landingtext {
    padding-top: 5%;
  }
}


/* contact */

#contact-tile {
  background: url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25)), url('/img/media/direc/contact-background.jpg') no-repeat center center; /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25)),url('/img/media/direc/contact-background.jpg') no-repeat center center; /* Standard syntax (must be last) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

#contact-tile .container-fluid {
  height: 100%;
  width: 100%;
}

#contact-tile-container {
  margin: 0 auto;
  background: rgba(0,0,0, 0.6);
  border-radius: 25px;
  width: 90%;
  padding: 30px 0px;
  margin-top: 1vh;
}

#contact-tile li a {
  color: white;
  font-size: 2em;
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-height: 530px), (max-width: 500px)
{
  #contact-tile li a {
    font-size: 1.5em;
  }
}


/* about */

#about-tile {
  background: url('/img/media/direc/about-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-tile-container {
  background-color: rgba(255, 122, 122, 0.8);
  margin: 0 auto;
  border-radius: 25px;
  width: 90%;
  padding: 2%;
  margin-top: 50px;
  font-size: 40px;
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

/*
#about-tile-button {
  background: rgba(255, 122, 122, 0.8);
}

#about-tile-button:hover {
  background: rgba(255, 80, 80, 0.9);
}
*/


/* outreach */

#outreach-tile {
  background: url('/img/media/direc/outreach-background.jpg') no-repeat center center; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/media/direc/outreach-background.jpg') no-repeat center center; /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/media/direc/outreach-background.jpg') no-repeat center center; /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/media/direc/outreach-background.jpg') no-repeat center center; /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url('/img/media/direc/outreach-background.jpg') no-repeat center center; /* Standard syntax (must be last) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* logs */

#logs-tile {
  background: url('/img/media/direc/logs-background.jpg') no-repeat center center; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.11)), url('/img/media/direc/logs-background.jpg') no-repeat center center; /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.11)), url('/img/media/direc/logs-background.jpg') no-repeat center center; /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.11)), url('/img/media/direc/logs-background.jpg') no-repeat center center; /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.11)),url('/img/media/direc/logs-background.jpg') no-repeat center center; /* Standard syntax (must be last) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* photos */

#photos-tile {
  background: url('/img/media/direc/photos-background.jpg') no-repeat center center; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/img/media/direc/photos-background.jpg') no-repeat center center; /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/img/media/direc/photos-background.jpg') no-repeat center center; /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/img/media/direc/photos-background.jpg') no-repeat center center; /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),url('/img/media/direc/photos-background.jpg') no-repeat center center; /* Standard syntax (must be last) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
