<!-- Requires static/new/css/footer.css -->

<div id="footer">
    <div id="footer-slant"></div>
    <div id="footer-content">
        <div id="footer-title">
            <img id="footer-logo" src="/new/img/logo/logo.png" />
            <h2 id="footer-copyright">&copy;2020 Harker Robotics</h2>
        </div>
        <!-- <div id="footer-navigation"> rip
            <p><a class="footer-link">Home</a></p>
            <p><a class="footer-link">About</a></p>
            <p><a class="footer-link">Outreach</a></p>
            <p><a class="footer-link">Media</a></p>
            <p><a class="footer-link">Sponsor</a></p>
            <p><a class="footer-link">Contact</a></p>
            </div> -->
        <div id="footer-media">
            <a target="_blank" href="https://instagram.com/frc1072" class="footer-media-icon"><img class="footer-media-icon-image" src="/new/img/logo/icon/instagram.png" /></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCBZNj50jyc9Pigh2vCkvz4w" class="footer-media-icon"><img class="footer-media-icon-image" src="/new/img/logo/icon/youtube.png" /></a>
            <a target="_blank" href="https://www.thebluealliance.com/team/1072" class="footer-media-icon"><img class="footer-media-icon-image" src="/new/img/logo/icon/bluealliance.png" /></a>
            <a target="_blank" href="http://github.com/harkerrobo" class="footer-media-icon"><img class="footer-media-icon-image" src="/new/img/logo/icon/github.png" /></a>
        </div>
    </div>
    <p id="credit">Made with &lt;&gt; by <u><a class="no-style-a" target="_blank" href="https://github.com/chiragzq">Chirag Kaushik</a></u></p>
</div>
