<!-- requires static/new/css/header.css -->

<div id="header">
    <div id="header-logo-wrapper">
        <div id="header-logo-image-wrapper">
            <img id="header-logo-image" src="new/img/logo/logo.png" />
        </div>
        <div id="header-logo-text">
            <h1>Harker Robotics</h1>
            <h3>San Jos&eacute;, CA</h3>
        </div>
    </div>
    <div id="header-navigation-wrapper">
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>Home</h4></a>
        </div>
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>About</h4></a>
        </div>
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>Members</h4></a>
        </div>
        <div class="header-break">

        </div>
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>Media</h4></a>
        </div>
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>Outreach</h4></a>
        </div>
        <div class="header-navigation">
            <a class="no-style-a" href=""><h4>Contact</h4></a>
        </div>
    </div>
</div>