<!-- requires static/new/css/header.css -->

<!-- <div id="header-logo-wrapper">
    
    <div id="header-logo-text">
        <h1>Harker Robotics</h1>
        <h3>San Jose, CA</h3>
    </div>
</div> -->
<div id="header-navigation-wrapper">
    <div id="header-logo-image-wrapper">
        <a class="no-style-a" href="/">
            <img id="header-logo-image" src="new/img/logo/logo.png" />
        </a>
    </div>
    <div id="header-1072-wrapper"><a class="no-style-a" href="/"><p id="header-1072">1072</p></a></div>
    <div class="header-navigation">
        <a class="no-style-a" href="/"><h4>Home</h4></a>
    </div>
    <div class="header-navigation">
        <a class="no-style-a" href="/about"><h4>About</h4></a>
    </div>
    <div class="header-break">

    </div>
    <div class="header-navigation">
        <a class="no-style-a" href="/outreach"><h4>Outreach</h4></a>
    </div>
    <div class="header-navigation">
        <a class="no-style-a" href="/media"><h4>Media</h4></a>
    </div>
    <div class="header-navigation">
        <a class="no-style-a" href="/sponsor"><h4>Sponsor</h4></a>
    </div>
    <div class="header-navigation">
        <a class="no-style-a" href="/contact"><h4>Contact</h4></a>
    </div>
    <div id="header-idk">
        <a class="no-style-a" href="/member"><p id="header-login-button">Login</p></a>
    </div>
</div>