<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
      <div class="container-fluid">
          <h1 class="title"> ADMIN </h1>
          <p class="info-text">Currently, Admin is not available. In the future, admins will be able to approve purchases and add premade vendors. </p>
      </div>
    </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
