<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
      <div class="container-fluid">
        <form class="form-horizontal" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <h1 class="title"> CREATE PURCHASE </h1>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="premade">Premade Vendor</label>
            <div class="col-sm-10 col-lg-8">
              <select name="premade" id="premade" class="form-control" style="inline">
                <option value="">Custom...</option>
                <option value="Andymark">Andymark</option>
                <option value="VexPro">Vex Pro</option>
                <option value="Amazon">Amazon</option>
                <option value="SDPSI">SDP/SI</option>
                <option value="MMC">McMaster-Carr</option>
                <option value="WCP">WCP</option>
                <option value="LMS">Little Machine Shop</option>
                <option value="MT">MariTool</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Subteam</label>
            <div class="radio-inline col-sm-2">
              <label>
                &emsp;<input type="radio" name="subteam" value="0" /> Mech
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="1" /> E
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="2" /> Software
              </label>
            </div>
            <div class="radio-inline col-sm-2">
              <label>
                <input type="radio" name="subteam" value="3" /> Ops
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="vendor" class="col-sm-2 control-label">Vendor Name</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor" id="vendor" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_phone" class="col-sm-2 control-label">Vendor Phone Number</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor_phone" id="vendor_phone" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_email" class="col-sm-2 control-label">Vendor Email</label>
            <div class="col-sm-10 col-lg-8">
              <input type="email" class="form-control vendor-fill" name="vendor_email" id="vendor_email" />
            </div>
          </div>
          <div class="form-group">
            <label for="vendor_address" class="col-sm-2 control-label">Vendor Address</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control vendor-fill" name="vendor_address" id="vendor_address" />
            </div>
          </div>
          <div class="form-group">
            <label for="reason_for_purchase" class="col-sm-2 control-label">Reason For Purchase</label>
            <div class="col-sm-10 col-lg-8">
              <textarea class="form-control" rows="3" id="reason_for_purchase" name="reason_for_purchase"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="tax" class="col-sm-2 control-label">Tax</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="tax" id="tax" pattern="^\d+(\.\d{0,2})?$" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="shipping_and_handling" class="col-sm-2 control-label">Shipping and Handling</label>
            <div class="col-sm-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="shipping_and_handling" id="shipping_and_handling" pattern="^\d+(\.\d{0,2})?$" />
              </div>
            </div>
          </div>
          <div id="parts">
            <div id="parts-drop-area" class="center">
              <p> Either upload the parts list AS A CSV here, or fill it in manually below.</p>
              <input type="file" id="fileElem" accept=".csv" onchange="handleFiles(this.files)">
              <label class="button" for="fileElem">Click or drag to upload files</label>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="center">Part URL</th>
                  <th class="center">Part #</th>
                  <th class="center">Part Name</th>
                  <th class="center">Subsystem</th>
                  <th class="center">$/Unit</th>
                  <th class="center">Quantity</th>
                  <th class="center">Add/Cut Rows</th>
                </tr>
              </thead>
              <tbody>
                <tr id="input-row">
                  <td><input type="text" id="part_url"       name="part_url"       class="form-control" /></td>
                  <td><input type="text" id="part_number"    name="part_number"    class="form-control" /></td>
                  <td><input type="text" id="part_name"      name="part_name"      class="form-control" /></td>
                  <td><input type="text" id="subsystem"      name="subsystem"      class="form-control" /></td>
                  <td><div class="input-group">
                   <span class="input-group-addon">$</span>
                   <input type="text" id="price_per_unit" name="price_per_unit" class="form-control" pattern="^\d+(\.\d{0,2})?$" />
                  </div></td>
                  <td><input type="number"  id="quantity"       name="quantity"       class="form-control" /></td>
                  <td><button type="button" id="add-row" class="btn btn-info form-control">Add</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </header>

    <script>

      var entityMap = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#39;',
        '/': '&#x2F;',
        '`': '&#x60;',
        '=': '&#x3D;'
        };

      function escapeHtml (string) {
        return String(string).replace(/[&<>"'`=\/]/g, function (s) {
          return entityMap[s];
        });
      }

      $("#add-row").click(function() {
        $("#parts > table > tbody").append(""
          + '<tr>'
          +   '<td><input type="text" name="part_url" class="form-control" value="' + escapeHtml($("#part_url").val()) + '" /></td>'
          +   '<td><input type="text" name="part_number" class="form-control" value="' + escapeHtml($("#part_number").val()) + '" /></td>'
          +   '<td><input type="text" name="part_name" class="form-control" value="' + escapeHtml($("#part_name").val()) + '" /></td>'
          +   '<td><input type="text" name="subsystem" class="form-control" value="' + escapeHtml($("#subsystem").val()) + '" /></td>'
          +   '<td><div class="input-group">'
          +     '<span class="input-group-addon">$</span>'
          +     '<input type="text" name="price_per_unit" class="form-control" value="' + $("#price_per_unit").val() + '" />'
          +   '</div></td>'
          +   '<td><input type="text" name="quantity" class="form-control" value="' + $("#quantity").val() + '" /></td>'
          +   '<td><button type="button" class="remove-row btn btn-info form-control">Remove</button></td>'
          + '</tr>'
        );
        $("#input-row input").val("");
        $(".remove-row").click(function() {
          $(this).parent().parent().remove();
        });
      });
      $(".remove-row").click(function() {
        $(this).parent().parent().remove();
      });
      var vendors = {
        "Andymark": ["Andymark", "877-868-4770", "sales@andymark.com", "2311 N. Washington St., Kokomo, IN 46901"],
        "VexPro": ["Vex Pro", "903-453-0802", "sales@vexrobotics.com", "1519 Interstate 30, West Greenville, TX 75402"],
        "Amazon": ["Amazon", "(888) 280-3321", "", "4625 Albany Drive, San Jose, CA 95129"],
        "SDPSI": ["SDP/SI", "800-819-8900", "SDP-SIsupport@sdp-si.com", "2101 Jericho Turnpike, Box 5416, New Hyde Park, New York 11042-5416"],
        "MMC": ["McMaster-Carr", "(562) 692-5911", "la.sales@mcmaster.com", "P.O. Box 54960, Los Angeles, CA 90054-0960"],
        "WCP": ["West Coast Products", "323-989-2718", "sales@wcproducts.net", "2214 Driftwood Drive, Madera, CA 93637"],
        "LMS": ["Little Machine Stop", "(800) 981-9663", "info@littlemachineshop.com", "396 W. Washington Blvd. #500 Pasadena, CA 91103"],
        "MT": ["MariTool", "888 352 7773", "info@maritool.com", "242 Beinoris Drive Wood Dale, IL 60191 United States"]
      };
      $("#premade").change(function() {
        $('.vendor-fill').empty();
        var val = $(this).val();
        if (!val || val==="") return;
        var vendor = vendors[val];
        $(".vendor-fill").each(function(i, e) {
          $($(".vendor-fill")[i]).val(vendor[i]);
        });
      });

      // https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      // functionality for drag and drop so that users can drop a CSV into the page
      var dropArea = document.getElementById('parts-drop-area');

      dropArea.addEventListener('drop', handleDrop, false)
      ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
      })

      ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
      })

      function highlight(e) {
        dropArea.classList.add('highlight')
      }

      function unhighlight(e) {
        dropArea.classList.remove('highlight')
      }

      function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
      }

      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, function(e) { e.preventDefault() }, false)
      })

      function handleFiles(files) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var text = reader.result;
          var arr = text.replace(/\r|\"/g,'').split('\n').map(row => row.split(','));
          
          var input_row = $('#input-row > td input');

          for (var i = 0; i < arr.length; i++) {
            console.log('-----')
            console.log(row)
            var row = arr[i];
            // for each text column in the table
            for (var j = 0; j <= 3; j++) {
              // fill in the input row with values from the CSV
              $(input_row[j]).val(row[j])
            }
            // for each number column
            for (var j = 4; j <= 5; j++) {
              console.log(j,row[j])
              // fill in the input row with values from the CSV
              $(input_row[j]).val(row[j].replace('\r','').replace('\"',''))
            }
            $('#add-row').click();
          }
        }
        reader.readAsText(files[0])
      }
    </script>

    

  </body>
</html>
