<footer class="footer">
    <div class="container center">
        <span class="default-font">
            &copy; 2022 Harker Robotics | All Rights Reserved | 500 Saratoga Ave, San Jose, CA 95129
        </span>
    </div>
</footer>