<footer class="footer">
    <div class="container center">
        <span class="default-font">
            &copy;<%= (new Date()).getFullYear() %> Harker Robotics
        </span>
    </div>
</footer>
