<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Page Scripts-->
        <script src="/new/js/attendanceManager.js" type="text/javascript" defer></script>

         <!-- Site Styles -->
         <link rel="stylesheet" href="/new/css/theme.css" />
    </head>
    <body>
        
    </body>
</html>