<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Page Scripts-->
        <script src="/new/js/attendanceManager.js" type="text/javascript" defer></script>

         <!-- Site Styles -->
         <link rel="stylesheet" href="/new/css/theme.css" />
         <link rel="stylesheet" href="/new/css/attendanceHeader.css" />
         <link rel="stylesheet" href="/new/css/attendanceManager.css" />
         <style>
            :root {
                --color-background: #fff !important;
            }
            body {
                background-color: var(--color-background) !important;
            }
        </style>
    </head>
    <body>
        <%- include(__base + 'views/new/partials/attendanceHeader.ejs') %>
        <div id="big-wrapper">
        </div>
    </body>
</html>