<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Page Scripts-->
        <script src="/new/js/vendored/qrcode.min.js" type="text/javascript" defer></script>
        <script src="/new/js/qr.js" type="text/javascript" defer></script>

         <!-- Site Styles -->
         <link rel="stylesheet" href="/new/css/theme.css" />
         <link rel="stylesheet" href="/new/css/attendanceHeader.css" />
         <link rel="stylesheet" href="/new/css/attendanceMember.css" />
    </head>
    <body>
        <%- include(__base + 'views/new/partials/attendanceHeader.ejs') %>
        <div id="canvas-wrapper">
            <canvas id="qr-canvas" width="185" height="185"></canvas>
        </div>
    </body>
</html>