<!DOCTYPE html>
<html>
    <head>
        <title>Scanner</title>
        <%- include(__base + 'views/new/partials/favicon.ejs') %>

        <!-- External Styles -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Page Scripts-->
        <script src="/new/js/vendored/instascan.min.js?v=2" type="text/javascript" defer></script>
        <script src="/new/js/scanner.js?v=4" type="text/javascript" defer></script>

        <!-- Site Styles -->
        <link rel="stylesheet" href="/new/css/theme.css" />
        <link rel="stylesheet" href="/new/css/attendanceHeader.css" />
        <link rel="stylesheet" href="/new/css/attendanceScanner.css?v=2" />

    </head>
    <body>
        <%- include(__base + 'views/new/partials/attendanceHeader.ejs') %>
        <% if (auth.level >= ranks.lead && auth.level != ranks.checkin_tablet) { %>
            <div id="admin-icons">
                <a class="admin-icon" href="../attendance"><img class="admin-image" src="/new/img/svg/fullscreen_exit-24px.svg"></a>
                <% if (auth.level >= ranks.lead) { %>
                <a class="admin-icon" href="../attendance/attendance"><img class="admin-image" src="/new/img/svg/baseline-assignment-24px.svg"></a>
                <% } %>
                <a class="admin-icon" href="../attendance/scanner"><img class="admin-image" id="idk" src="/new/img/svg/baseline-linked_camera-24px.svg"></a>
            </div>
            <% } %>
        <div id="buttons-wrapper">
            <button id="check-in-button">Check in</button>
            <% if(auth.level != ranks.checkin_tablet) { %>
                <button id="check-out-button">Check out</button><br />
            <% } %>
            <button id="toggle-camera">Switch Camera</button><br />
            <video id="camera" playsinline></video>
            <p>For iOS 15: Please use another browser (such as Chrome) instead of Safari</p>
            <h1 id="scanner-message"></h1>
            <img id="user-photo">
        </div>
        <div id="dummy"></div>
    </body>
</html>
