<!DOCTYPE html>
<html>
  <head>
    <title> Hackathon | Harker Robotics 1072 </title>
    <link rel="stylesheet" type="text/css" href="/css/hackathon.css" />
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

    <header id="hackathon-tile">
      <div class="container-fluid">
        <h1 class="title">Harker Hacks</h1>
        <p class="info-text">"Quote goes here"<br/>- [Position] [Name]</p>
        <div id="hackathon-form-container">
          <p class="info-text">Info text about<br/>the Hackathon</p>
        </div>
        <a class="covert" href="/error"><div id="about-tile-button" class="learn-more-button">
          <p>SIGN UP</p>
        </div></a>
      </div>
    </header>
    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script src="/js/hackathon.js"></script>
  </body>
</html>
