<!DOCTYPE html>
<html>
  <head>
    <title> Hackathon | Harker Robotics 1072 </title>
    <link rel="stylesheet" type="text/css" href="/css/hackathon.css" />
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-hackathon.ejs') %>

    <header hashname="landing" id="hackathon-tile">
      <div class="container-fluid">
        <h1 class="title">HARKER HACKS</h1>
        <div id="quote">
          <p id="quoteText" class="info-text">"Quote goes here"<br/>- [Position] [Name]</p>
        </div>
        <div id="hackathon-form-container">
          <p class="info-text">Info text about<br/>the Hackathon</p>
        </div>
        <a class="covert" href=""><div class="learn-more-button">
          <p>SIGN UP</p>
        </div></a>
      </div>
    </header>

    <section hashname="donate" id="donate-tile">
      <div class="container-fluid">
        <h1 class="title">SPONSOR</h1>
        <p class="info-text"> Want to Sponsor? <br/> Join us now. </p>
        <a class="covert" href=""><div class="learn-more-button">
          <p>DONATE</p>
        </div></a>
      </div>
    </section>

    <section id="contact-tile" hashname="contact">
      <h1 class="title">CONTACT</h1>
      <div class="container-fluid">
        <div id="contact-tile-container">
          <ul class="no-bullets">
            <li>
              <a href="mailto:harker1072@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i> harker1072@gmail.com
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/harkerrobotics" target="_blank">
                <i class="fa fa-instagram"></i> @harkerrobotics
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Harker-Robotics-Team-1072-199777950060812/" target="_blank">
                <i class="fa fa-facebook"></i> Harker Robotics Team 1072
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/harker1072" target="_blank">
                <i class="fa fa-youtube"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.tiny.cc/1072calendar" target="_blank">
                <i class="fa fa-calendar-o"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/place/500+Saratoga+Ave,+San+Jose,+CA+95129/" target="_blank">
                <i class="fa fa-location-arrow"></i> 500 Saratoga Ave, San Jose, CA 95129
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script src="/js/hackathon.js"></script>
    <script src="/js/tile.js"></script>
  </body>
</html>
