<!DOCTYPE html>
<html>
  <head>
    <title> Hackathon | Harker Robotics 1072 </title>
    <link rel="stylesheet" type="text/css" href="/css/hackathon.css" />
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-hackathon.ejs') %>

    <header hashname="landing" id="hackathon-tile">
      <div class="container-fluid">
        <h1 class="title">HARKER HACKS</h1>
        <div id="quote">
          <p id="quoteText" class="info-text">"Quote goes here"<br/>- [Position] [Name]</p>
        </div>
        <div id="hackathon-form-container">
          <p class="info-text">Info text about<br/>the Hackathon</p>
        </div>
        <a class="covert" href="https://docs.google.com/a/students.harker.org/forms/d/1vIiKmwusMIuxtw2g4YY4NlmAYBzbZ9gtE97h8ZqQHKs/edit"><div class="learn-more-button">
          <p>SIGN UP</p>
        </div></a>
      </div>
    </header>

    <section hashname="donate" id="donate-tile">
      <div class="container-fluid">
        <h1 class="title">SPONSOR</h1>
        <table>
          <tr>
            <th>
              <span style="display:inline-block; width: 700px;"></span>
            </th>
            <th>
              <p id="table" class="info-text" >Kilo<br/> ($500+)</p>
            </th>
            <th>
              <p id="table" class="info-text" >Mega<br/> ($1000+)</p>
            </th>
            <th>
              <p id="table" class="info-text" >Giga<br/> ($1500+)</p>
            </th>
            <th>
              <p id="table" class="info-text" >Tera<br/> ($2000+)</p>
            </th>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Logo on website and t-shirt</p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can send a mentor</p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can send small merchandise</p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can send recruiters</p>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Access to GitHub accounts</p>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can set up a booth</p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can demo a product</p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can gift special prize for submission of choice</p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Special introduction and thank you at event</p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
          <tr>
            <td>
              <p id="table" class="info-text" >Can lead a keynote speech during event</p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <p id="table" class="info-text" ><font color="cyan"><b>•</b></font></p>
            </td>
          </tr>
        </table>
        <a class="covert" href=""><div class="learn-more-button" style="margin-left: 65px; width: 20vw;">
          <p>DONATE</p>
        </div></a>
      </div>
    </section>

    <section id="contact-tile" hashname="contact">
      <div class="container-fluid">
        <h1 class="title">CONTACT</h1>
        <div id="contact-tile-container">
          <ul class="no-bullets">
            <li>
              <a href="mailto:harker1072@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i> harker1072@gmail.com
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/harkerrobotics" target="_blank">
                <i class="fa fa-instagram"></i> @harkerrobotics
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Harker-Robotics-Team-1072-199777950060812/" target="_blank">
                <i class="fa fa-facebook"></i> Harker Robotics Team 1072
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/harker1072" target="_blank">
                <i class="fa fa-youtube"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.tiny.cc/1072calendar" target="_blank">
                <i class="fa fa-calendar-o"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/place/500+Saratoga+Ave,+San+Jose,+CA+95129/" target="_blank">
                <i class="fa fa-location-arrow"></i> 500 Saratoga Ave, San Jose, CA 95129
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script src="/js/hackathon.js"></script>
    <script src="/js/tile.js"></script>
  </body>
</html>
