<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <style> header * { color: black !important} body, header { background-color: lightgray } </style>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

      <header class="scrollable" id="about">
        <div class="container">
        <h1 class="title">ABOUT</h1>
        <h2 class="title">MISSION STATEMENT</h2>
        <p class="info-text">“To grant club members the opportunity to learn STEAM (Science, Technology,
Engineering, Arts, and Mathematics) skills through hands-on experience with robots and their components. To experience the organization and teamwork required to design, build and enter into the FIRST competition. To perform with joy, professionalism, and excellence.”</p>
        <h2 class="title">LEADERS</h2>
        <p class="info-text">Our leaders are chosen to direct the Harker Robotics team toward success.</p>
        <!--<table class="table" id="leaders">
          <thead>
            <tr>
              <th>PICTURE</th>
              <th>NAME</th>
              <th>LEADERSHIP ROLE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img alt="picture here" /></td>
              <td> Andrew Tierno </td>
              <td> Executive President </td>
            </tr>
            <tr>
              <td><img alt="picture here" /></td>
              <td> James He </td>
              <td> VP of Operations </td>
            </tr>
            <tr>
              <td><img alt="picture here" /></td>
              <td> David Melisso </td>
              <td> Webmaster </td>
            </tr>
          </tbody>
        </table>
        <p class="info-text">David Melisso<span style="display:inline-block; width: 150px;"></span>Andrew Tierno<span style="display:inline-block; width: 150px;"></span>James He</p>
        <span style="display:inline-block; width: 160px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <span style="display:inline-block; width: 180px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <span style="display:inline-block; width: 150px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <p class="info-text">Webmaster<span style="display:inline-block; width: 150px;"></span>Executive President<span style="display:inline-block; width: 125px;"></span>VP of <span style="display:inline-block; width: 850px;"></span>Operations </p>
      -->
      <!-- Tech -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/jayam.jpeg" width="50" alt="Sunny Jayam">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Techinical Head</h4>
              <p> Sunny Jayam </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/goyal.jpeg" width="50" alt="Rahul Goyal">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">VP of Mechanical</h4>
              <p> Rahul Goyal </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/manning.jpeg" width="50" alt="Joel Manning">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">VP of Software</h4>
              <p> Joel Manning </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/reddy.jpeg" width="50" alt="Ashwin Reddy">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">VP of Software</h4>
              <p> Ashwin Reddy </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/leafstrand.jpeg" width="50" alt="Christopher Leafstrand">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Head of Design</h4>
              <p> Christopher Leafstrand </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/frankis.jpeg" width="50" alt="Finn Frankis">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">VP of Electronics</h4>
              <p> Finn Frankis </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/clark.jpeg" width="50" alt="Quentin Clark">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">VP of Electronics</h4>
              <p> Quentin Clark </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Exec -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/coalson.jpeg" width="50" alt="Aria Coalson">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Executive President</h4>
              <p> Aria Coalson </p>
            </div>
          </div>
        </div>
      </div>
      <!-- OPS -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/yang.jpeg" width="50" alt="James He">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Operations Head</h4>
              <p> Nemo Yang </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/panchapakesan.jpeg" width="50" alt="Rithvik Panchapakesan">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Head Event Coordinator</h4>
              <p> Rithvik Panchapakesan </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/nmelisso.jpeg" width="50" alt="Nathaniel Melisso">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Head of Media</h4>
              <p> Nathaniel Melisso </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/melisso.jpeg" width="50" alt="David Melisso">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Head of Website Development and Maintenence</h4>
              <p> David Melisso </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/img/media/direc/faces/wang.jpeg" width="50" alt="Anna Wang">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Head of Public Relationships</h4>
              <p> Anna Wang </p>
            </div>
          </div>
        </div>
      </div>

        <!--<div class="well">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/img/media/direc/tierno.jpeg" width="50" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Executive President</h4>
                <p> Andrew Tierno </p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="..." alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                ...
              </div>
            </div>
        </div>-->

        <br/>
      </div>
      </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
