<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <style> header * { color: black !important} body, header { background-color: lightgray } </style>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

      <header class="scrollable" id="about">
        <div class="container">
        <h1 class="title">ABOUT</h1>
        <h2 class="title">MISSION STATEMENT</h2>
        <p class="info-text">“To grant club members the opportunity to learn STEAM (Science, Technology,
Engineering, Arts, and Mathematics) skills through hands-on experience with robots and their components. To experience the organization and teamwork required to design, build and enter into the FIRST competition. To perform with joy, professionalism, and excellence.”</p>
        <h2 class="title">LEADERS</h2>
        <p class="info-text">Our leaders are chosen to direct the Harker Robotics team toward success.</p>
        <!--<table class="table" id="leaders">
          <thead>
            <tr>
              <th>PICTURE</th>
              <th>NAME</th>
              <th>LEADERSHIP ROLE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img alt="picture here" /></td>
              <td> Andrew Tierno </td>
              <td> Executive President </td>
            </tr>
            <tr>
              <td><img alt="picture here" /></td>
              <td> James He </td>
              <td> VP of Operations </td>
            </tr>
            <tr>
              <td><img alt="picture here" /></td>
              <td> David Melisso </td>
              <td> Webmaster </td>
            </tr>
          </tbody>
        </table>
        <p class="info-text">David Melisso<span style="display:inline-block; width: 150px;"></span>Andrew Tierno<span style="display:inline-block; width: 150px;"></span>James He</p>
        <span style="display:inline-block; width: 160px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <span style="display:inline-block; width: 180px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <span style="display:inline-block; width: 150px;"></span><img src="/img/art/default.jpeg"alt="picture here"/>
        <p class="info-text">Webmaster<span style="display:inline-block; width: 150px;"></span>Executive President<span style="display:inline-block; width: 125px;"></span>VP of <span style="display:inline-block; width: 850px;"></span>Operations </p>
      -->
      <!-- Tech -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/rajasekharan.jpg" width="50" alt="Sanjay Rajasekharan">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Technical President</h4>
              <p> Sanjay Rajasekharan </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/sonecha.jpg" width="50" alt="Rohan Sonecha">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Mechanical Director</h4>
              <p> Rohan Sonecha </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
            <div class="media">
              <div class="media-left">
                  <img class="media-object" src="/img/media/direc/faces/2020/affaki.jpg" width="50" alt="Chloe Affaki">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Machining Director</h4>
                <p> Chloe Affaki </p>
              </div>
            </div>
          </div>
        <div class="list-group-item">
            <div class="media">
              <div class="media-left">
                  <img class="media-object" src="/img/media/direc/faces/2020/vinod.jpg" width="50" alt="Aditi Vinod">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Design Director</h4>
                <p> Aditi Vinod </p>
              </div>
            </div>
          </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/jia.jpg" width="50" alt="Angela Jia">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Software Directors</h4>
              <p> Angela Jia </p>
            </div>
          </div>
        </div>
        <div class="list-group-item" style="border-top: 0px">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/kohli.jpg" width="50" alt="Jatin Kohli">
            </div>
            <div class="media-body">
              <br/>
              <p> Jatin Kohli </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/cao.jpg" width="50" alt="ethan Cao">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Electrical Directors</h4>
              <p> Ethan Cao </p>
            </div>
          </div>
        </div>
        <div class="list-group-item" style="border-top: 0px">
            <div class="media">
              <div class="media-left">
                  <img class="media-object" src="/img/media/direc/faces/2020/clark.jpg" width="50" alt="Quentin Clark">
              </div>
              <div class="media-body">
                <br />
                <p> Quentin Clark </p>
              </div>
            </div>
          </div>
      </div>
      <!-- Exec -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/frankis.jpg" width="50" alt="Finn Frankis">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Executive President</h4>
              <p> Finn Frankis </p>
            </div>
          </div>
        </div>
      </div>
      <!-- OPS -->
      <div class="col-xs-4 list-group">
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/bhimaraju.jpg" width="50" alt="Hari Bhimaraju">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Operations President</h4>
              <p> Hari Bhimraju </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/kaushik.jpg" width="50" alt="Chirag Kaushik">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Application Development Director</h4>
              <p> Chirag Kaushik </p>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
                <img class="media-object" src="/img/media/direc/faces/2020/zhu.jpg" width="50" alt="Gloria Zhu">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Imagery Director</h4>
              <p> Gloria Zhu </p>
            </div>
          </div>
        </div>
      </div>

        <!--<div class="well">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/img/media/direc/tierno.jpeg" width="50" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Executive President</h4>
                <p> Andrew Tierno </p>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="..." alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                ...
              </div>
            </div>
        </div>-->

        <br/>
      </div>
      </header>

    

  </body>
</html>
