<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

    <header id="error" hashname="error">
      <div class="container-fluid">
        <h1> We found an error </h1>
        <p> <strong><%- statusCode -%></strong> error: <strong><%- error -%></strong> </p>
      </div>
    </header>

    

  </body>
</html>
