<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include ../partials/navbarlanding.ejs %>

    <!-- Landing Tile -->
    <header id="landing">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </header>

    <!-- Contact Tile -->
    <section id="contact-tile">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </section>

    <!-- About Tile -->
    <section id="about-tile">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </section>


    <!-- Outreach Tile -->
    <section id="outreach-tile">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </section>

    <!-- Logs Tile -->
    <section id="logs-tile">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </section>

    <!-- Photos Tile -->
    <section id="photos-tile">
      <div class="container-fluid">
        <h1>WE ARE 1072</h1>
      </div>
    </section>

  </body>
</html>
