<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-landing.ejs') %>

    <!-- Landing Tile -->
    <header id="landing-tile" hashname="landing">
      <div class="container-fluid">
        <div class="landingtext">
          <h1 class="landingtext">HARKER ROBOTICS</h1>
          <h2 class="landingtext">WE ARE <span id="autotype">ENGINEERS|</span></h2>
        </div>
      </div>
    </header>

    <!-- Contact Tile -->
    <section id="contact-tile" hashname="contact">
      <h1 class="title">CONTACT</h1>
      <div class="container-fluid">
        <div id="contact-tile-container">
          <ul class="no-bullets">
            <li>
              <a href="mailto:harker1072@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i> harker1072@gmail.com
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/harkerrobotics" target="_blank">
                <i class="fa fa-instagram"></i> @harkerrobotics
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/Harker-Robotics-Team-1072-199777950060812/" target="_blank">
                <i class="fa fa-facebook"></i> Harker Robotics Team 1072
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/harker1072" target="_blank">
                <i class="fa fa-youtube"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.tiny.cc/1072calendar" target="_blank">
                <i class="fa fa-calendar-o"></i> Harker1072
              </a>
            </li>
            <li>
              <a href="https://www.google.com/maps/place/500+Saratoga+Ave,+San+Jose,+CA+95129/" target="_blank">
                <i class="fa fa-location-arrow"></i> 500 Saratoga Ave, San Jose, CA 95129
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- About Tile -->
    <section id="about-tile" hashname="about">
      <div class="container-fluid">
        <h1 class="title">ABOUT</h1>

        <div id="about-tile-container">
          <p> [insert mission statement here] </p>
          <p> [it may be multiple lines] </p>
        </div>

        <a class="covert" href="/about"><div id="about-tile-button" class="learn-more-button">
          <p>LEARN MORE</p>
        </div></a>
      </div>
    </section>


    <!-- Outreach Tile -->
    <section id="outreach-tile" hashname="outreach">
      <div class="container-fluid">
        <h1 class="title">OUTREACH</h1>
        <p class="info-text"> Our outreach program is still in progress. <a class="regular" gotoname="contact" href="#contact-tile">Contact us</a> to get more information about it! </p>
      </div>
    </section>

    <!-- Logs Tile -->
    <section id="logs-tile" hashname="logs">
      <div class="container-fluid">
        <h1 class="title">LOGS</h1>
        <p class="info-text"> We keep records of our progress through the year. </p>
        <a class="covert" href="/logs"><div id="logs-tile-button" class="learn-more-button">
          <p>SEE LOGS</p>
        </div></a>
      </div>
    </section>

    <!-- Photos Tile -->
    <section id="photos-tile" hashname="photos">
      <div class="container-fluid">
        <h1 class="title">PHOTOS</h1>
        <p class="info-text"> Pictures are memories. View the gallery to see ours. </p>
        <a class="covert" href="/logs"><div id="photos-tile-button" class="learn-more-button">
          <p>VIEW GALLERY</p>
        </div></a>
      </div>
    </section>

    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script src="js/index-js.js"></script>

  </body>
</html>
