<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <%- include ../partials/navbarlanding.ejs %>
    <header>
      <div class="container">
        <h1>WE ARE 1072</h1>
      </div>
    </header>
  </body>
</html>
