<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-landing.ejs') %>

    <!-- Landing Tile -->
    <header id="landing-tile" hashname="landing">
      <div class="container-fluid">
        <div class="landingtext">
          <h1 class="landingtext">HARKER ROBOTICS</h1>
          <h2 class="landingtext">WE ARE <span id="autotype">ENGINEERS|</span></h2>
        </div>
      </div>
    </header>



    <!-- About Tile -->
    <section id="about-tile" hashname="about">
      <div class="container-fluid">
        <h1 class="title">ABOUT</h1>
        <p class="info-text zero-vertical-margin">We are a FRC Team located at The Harker School.</p>
        <div id="about-tile-container" class="zero-vertical-margin">
          <h2>Mission Statement</h2>
          <p>“To grant club members the opportunity to learn STEAM (Science, Technology,
Engineering, Arts, and Mathematics) skills through hands-on experience with robots and their components. To experience the organization and teamwork required to design, build and enter into the FIRST competition. To perform with joy, professionalism, and excellence.”</p>
        </div>

        <a class="covert" href="/about"><div id="about-tile-button" class="learn-more-button">
          <p>LEARN MORE</p>
        </div></a>
      </div>
    </section>


    <!-- Sponsorship Tile -->
    <section id="outreach-tile" hashname="outreach">
      <div class="container-fluid">
        <h1 class="title">SPONSORSHIP</h1>
        <p class="info-text" style="margin: 0"> We thank our sponsors: </p>
        <div class="sp-logos">
          <!--<img src="/img/art/harker.gif" class="sp-logo"/>-->
          <!-- <img src="/img/art/gorillametals.gif" class="sp-logo"/> -->
          <div class="sp-logo">
            <a class="sp-logo" href="https://www.keyshot.com">
              <img src="/img/art/keyshot.png" class="sp-logo"/>
            </a>
          </div>
          <div class="sp-logo">
            <a class="sp-logo" href="https://www.keyshot.com">
              <img src="/img/art/alansteel.png" class="sp-logo"/>
            </a>
          </div>
          <br/>
          <div class="sp-logo">
            <a class="sp-logo" href="https://www.destinytool.com/">
              <img src="/img/art/destinytool.png" class="sp-logo"/>
            </a>
          </div>
          <div class="sp-logo">
            <a class="sp-logo" href="http://www.sgcarpet.com/">
              <img src="/img/art/sgcarpet.png" class="sp-logo"/>
            </a>
          </div>
        </div>
        <a class="covert" href="/sponsorship" target="_blank"><div id="sponsorship-tile-button" class="learn-more-button">
          <p>SPONSOR US</p>
        </div></a>
        <!--<br/><p class="info-text"> Learn about our <a class="regular" gotoname"hackathon" href="hackathon">hackathon</a>!</p>-->
      </div>
    </section>

    <!-- Wiki Tile -->
    <section id="wiki-tile" hashname="wiki">
      <div class="container-fluid">
        <h1 class="title">BLOGS</h1>
        <p class="info-text"> We keep records of our progress through the year. </p>
        <!-- <a class="covert"  href="http://robo.harker.org/wiki/Main_Page"  target="_blank"><div id="wiki-tile-button" class="learn-more-button"> -->
        <a class="covert"  href="/blog"  target="_blank"><div id="wiki-tile-button" class="learn-more-button">
          <p>SEE BLOGS</p>
        </div></a>
      </div>
    </section>

    <!-- Photos Tile -->
    <section id="photos-tile" hashname="photos">
      <div class="container-fluid">
        <h1 class="title">PHOTOS</h1>
        <p class="info-text"> Pictures are memories. View the gallery to see ours. </p>
        <a class="covert" href="https://goo.gl/photos/Fh4wwwWBDomAJJdr7" target="_blank"><div id="photos-tile-button" class="learn-more-button">
          <p>VIEW GALLERY</p>
        </div></a>
      </div>
    </section>

    <!-- Contact Tile -->
    <section id="contact-tile" hashname="contact">
      <h1 class="title">CONTACT</h1>
      <p class="info-text"> Want to get in touch with us? Send us a message or come visit us! <p>
      <div class="container-fluid">
        <div class="multiple-learn-more-button">
          <a class="covert" href="/contact/message"><div id="contact-tile-button" class="learn-more-button">
            <p><i class="fa fa-envelope iconlink" aria-hidden="true"></i> &nbsp;CONTACT US </p>
          </div></a>
          <a class="covert" href="/contact/map"><div id="contact-tile-button" class="learn-more-button">
            <p><i class="fa fa-map-marker iconlink" aria-hidden="true"></i> &nbsp;VISIT US</p>
          </div></a>
        </div>
      </div>
    </section>

    <%- include(__base + 'views/partials/footer.ejs') %>
    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script src="js/index-js.js"></script>
    <script src="js/tile.js"></script>

  </body>
</html>
