<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>

  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-main.ejs') %>

      <header id="photos">
        <h1 class="title">PHOTOS</h1>

      </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script defer>
      $(() => {
        $.ajax({  method: "POST", url: "/photos/test"})
      })
    </script>
  </body>
</html>
