<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header class="scrollable" id="home">
      <div class="container-fluid">
        <h1 class="title">MEMBER</h1>
        <p class="info-text">View <a href="/member/resources" class="regular">important information</a>, or search for a part on the <a href="/member/parts/search" class="regular">parts system</a>.</p>
        <% if (auth.level >= ranks.pr_whitelist) {%>
          <p class="info-text">Since you are whitelisted for PR, you can also make Purchase Requests and view our Resources.</p>
        <% } %>

        <div id="travelteam">
          
        </div>
      </div>

    </header>

    <%- include(__base + 'views/partials/footer.ejs') %>

    <script>
      const travelTeamData = "eyIyMmNoaXJhZ2siOiJDb25ncmF0dWxhdGlvbnMhIEkgYW0gcGxlYXNlZCB0byBpbmZvcm0geW91IHRoYXQgeW91IHdlcmUgY2hvc2VuIHRvIGJlIHBhcnQgb2YgdGhlIHRyYXZlbCB0ZWFtIGZvciBDZW50cmFsIFZhbGxleSBSZWdpb25hbC4gV2UgaGFkIHRvIG1ha2Ugc2V2cmFsIGNoYWxsZW5naW5nIGRlY2lzaW9ucywgYnV0IHlvdXIgYXR0ZW5kYW5jZSBzaWduaWZpY2FudGx5IHN1cnBhc3NlZCB0aGUgcmVxdWlyZWQgYmVuY2htYXJrLiBcblxuIElmIHlvdSBoYXZlIG5vdCB0dXJuZWQgaW4geW91ciBwZXJtaXNzaW9uIHNsaXAgZm9yIHRoZSBldmVudCwgYmUgc3VyZSB0byB0dXJuIGl0IGludG8gRHIuIE5lbHNvbidzIHR1cm4gaW4gYm94IGFzIHNvb24gYXMgcG9zc2libGUuIFlvdSBkbyBub3QgbmVlZCB0byBlZGl0IHRoZSByb29tYXRlIHNlbGVjdGlvbiBmb3JtLiBJZiBhbnkgbW9pZGlmY2F0aW9ucyBoYXZlIGJlZW4gbWFkZSB0IG95b3VyIHJvb20gbGlzdCwgeW91IHdpbGwgYmUgaW5mb3JtZWQgb3ZlciB0aGUgdXBjb21pbmcgd2VlLCBhbG9uZyB3aXRoIHlvdXIgZmluYWxpemVkIHJvbGUgYXQgdGhlIGV2ZW4gKHNjb3V0aW5nLCBwaXQsIG1lZGlhLCBldGMuKS4gXG5cbiBGaW5hbGx5LCBwbGVhc2Ugbm90ZSB0aGF0IHF1YWxpZmljYXRpb24gZm9yIHRoZSBDZW50cmFsIFZhbGxleSB0cmF2ZWwgdGVhbSBkb2VzIG5vdCBhbW91bnQgdG8gYSBndWFyYW50ZWVkIHBsYWNlIG9uIHRoZSBNb250ZXJleSBCYXkgdHJhdmVsIHRlYW0uIFlvdSBtdXN0IGtlZXAgdXAgeW91ciBzdHJvbmcgYXR0ZW5kYW5jZSByZWNvcmQgdG8gZW5zdXJlIHlvdXIgcXVhbGlmaWNhdGlvbiBmb3IgZnV0dXJlIGV2ZW50cy4gXG5cbkxvb2tpbmcgZm9yd2FyZCB0byB0aGUgY29tcGV0aXRpb24gc2Vhc29uIVxuXG5GaW5uIiwiMjBmaW5uZiI6IkNvbmdyYXR1bGF0aW9ucyEgSSBhbSBwbGVhc2VkIHRvIGluZm9ybSB5b3UgdGhhdCB5b3Ugd2VyZSBjaG9zZW4gdG8gYmUgcGFydCBvZiB0aGUgdHJhdmVsIHRlYW0gZm9yIENlbnRyYWwgVmFsbGV5IFJlZ2lvbmFsLiBXZSBoYWQgdG8gbWFrZSBzZXZyYWwgY2hhbGxlbmdpbmcgZGVjaXNpb25zLCBidXQgeW91ciBhdHRlbmRhbmNlIHNpZ25pZmljYW50bHkgc3VycGFzc2VkIHRoZSByZXF1aXJlZCBiZW5jaG1hcmsuIFxuXG4gSWYgeW91IGhhdmUgbm90IHR1cm5lZCBpbiB5b3VyIHBlcm1pc3Npb24gc2xpcCBmb3IgdGhlIGV2ZW50LCBiZSBzdXJlIHRvIHR1cm4gaXQgaW50byBEci4gTmVsc29uJ3MgdHVybiBpbiBib3ggYXMgc29vbiBhcyBwb3NzaWJsZS4gWW91IGRvIG5vdCBuZWVkIHRvIGVkaXQgdGhlIHJvb21hdGUgc2VsZWN0aW9uIGZvcm0uIElmIGFueSBtb2lkaWZjYXRpb25zIGhhdmUgYmVlbiBtYWRlIHQgb3lvdXIgcm9vbSBsaXN0LCB5b3Ugd2lsbCBiZSBpbmZvcm1lZCBvdmVyIHRoZSB1cGNvbWluZyB3ZWUsIGFsb25nIHdpdGggeW91ciBmaW5hbGl6ZWQgcm9sZSBhdCB0aGUgZXZlbiAoc2NvdXRpbmcsIHBpdCwgbWVkaWEsIGV0Yy4pLiBcblxuIEZpbmFsbHksIHBsZWFzZSBub3RlIHRoYXQgcXVhbGlmaWNhdGlvbiBmb3IgdGhlIENlbnRyYWwgVmFsbGV5IHRyYXZlbCB0ZWFtIGRvZXMgbm90IGFtb3VudCB0byBhIGd1YXJhbnRlZWQgcGxhY2Ugb24gdGhlIE1vbnRlcmV5IEJheSB0cmF2ZWwgdGVhbS4gWW91IG11c3Qga2VlcCB1cCB5b3VyIHN0cm9uZyBhdHRlbmRhbmNlIHJlY29yZCB0byBlbnN1cmUgeW91ciBxdWFsaWZpY2F0aW9uIGZvciBmdXR1cmUgZXZlbnRzLiBcblxuTG9va2luZyBmb3J3YXJkIHRvIHRoZSBjb21wZXRpdGlvbiBzZWFzb24hXG5cbkZpbm4iLCIyMnByYWtyaXRqIjoiVW5mb3J0dW5hdGVseSwgd2Ugd2VyZSBub3QgYWJsZSB0byBob25vciB5b3VyIHJlcXVlc3QgdG8gYXR0ZW5kIHRoZSBNb250ZXJleSBCYXkgUmVnaW9uYWwuIE91ciB0cmF2ZWwgdGVhbSB3YXMgYXQgY2FwYWNpdHkgYW5kIHlvdSBkaWQgbm90IHN1ZmZpY2llbnQgaG91cnMgdG8gZWFybiB5b3Vyc2VsZiBhIHNwb3Qgb24gdHJhdmVsIHRlYW0uIFlvdSBjb3VsZCBhbHNvIGJlIG1vcmUgaW52b2x2ZWQgaW4gb3ZlcmFsbCB0ZWFtIGFzIHdlbGwuIn0"
      const travelTeamDecisions = JSON.parse(atob(travelTeamData));
      const decision = travelTeamDecisions["<%= auth.info.email %>".slice(0, -20).toLowerCase()];
      if(decision) {
        document.getElementById("travelteam").innerHTML = "<button onclick='document.getElementById(\"decision\").classList.toggle(\"show\")' class='decision-button'> Reveal Travel Team Decision </button><p id='decision' class='decision-text'>" + decision.replace(/\n/g, "<br />") + "</p>"
      }
    </script>

    <style>
      .decision-text {
        width: 56vw;
        margin-left: 22vw;
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
        background-color: #001057;
        margin-top: 0;
        margin-bottom: 3vw;
        padding: 2vw;
        display: none;
      }
      
      .show {
        display: block;
      }

      .decision-button {
        cursor: pointer;
        width: 56vw; 
        margin-left: 22vw; 
        height: 5vw; 
        font-size: calc(8pt + 2.5vw); 
        background-color: #4b5a82; 
        color: white; 
        border: none;
      }
      
      @media screen and (max-width: 800px) {
        .decision-button {
          width: 80vw;
          margin-left: 7vw;
          height: 8vw;
        }

        .decision-text {
          width: 80vw;
          margin-left: 7vw;
          font-size: 12pt;
        }
      }
    </style>
  </body>
</html>
