<!DOCTYPE html>
<html>
  <head>
    <%- include ../../partials/head.ejs %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include ../../partials/navbar-login.ejs %>

    <header id="login-tile">

    </header>

    <%- include ../../partials/js-include.ejs %>

  </body>
</html>
