<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header class="scrollable" id="home">
      <div class="container-fluid">
        <h1 class="title">MEMBER</h1>
        <p class="info-text">View the <a href="/blog" class="regular">blog</a>, download the <a href="/member/resources" class="regular">permission forms</a>, or search for a part on the <a href="/member/parts/search" class="regular">parts system</a>.</p>
        <% if (auth.level >= ranks.pr_whitelist) {%>
          <p class="info-text">Since you are whitelisted for PR, you can also make Purchase Requests and view our Resources.</p>
        <% } %>
      </div>

    </header>

    <%- include(__base + 'views/partials/footer.ejs') %>
    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
