<!DOCTYPE html>
<html>
  <head>
    <% console.log('base for login head:', __base+'views/partials/head.ejs') %>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>


    <header id="login-tile">
      <div class="container-fluid">
        <h1 class="title">LOGIN</h1>
        <p class="info-text">The login system is not yet ready.</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>
    <script>

      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', location.protocol+'//'+location.hostname + '/member/token');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      }
    </script>

  </body>
</html>
