<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/member.css" />
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

      <header id="photos">
        <h1 class="title">PHOTOS</h1>
        <form method="post" enctype="multipart/form-data">
          <p>title: <input type="filename" name="filename" /></p>
          <p>file: <input type="file" name="file" /></p>
          <p><input type="submit" value="Upload" /></p>
        </form>
      </header>

    
    <script defer>
      $(() => {
        $.ajax({  method: "POST", url: "/photos/test"})
      })
    </script>
  </body>
</html>
