<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/member.css" />
  </head>
  <body>
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
      <h1 class="title">RESOURCES</h1>
      <p class="info-text">
        <a class="regular" target="_blank" href="/img/media/direc/forms/RoboticsLabSafetyContract.pdf">
          <strong>Robotics Lab Safety Contract</strong>
        </a>
      </p>
    </header>
  </body>
</html>
