<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/member.css" />

    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
      <h1 class="title">RESOURCES</h1>
      <p class="info-text">
        <a class="regular" target="_blank" href="/img/media/direc/forms/RoboticsLabSafetyContract.pdf">
          <strong>Robotics Lab Safety Contract</strong>
        </a><br/>
        <a class="regular" target="_blank" href="/img/media/direc/forms/2018/UCDavis.pdf">
          <strong>UC Davis Competition (March 21-24) Permission Form</strong>
        </a><br/>
        <a class="regular" target="_blank" href="/img/media/direc/forms/2018/SVR.pdf">
          <strong>SVR Competition (March 29-31) Permission Form</strong>
        </a><br/>
        <a class="regular" target="_blank" href="/img/media/direc/forms/2018/FRC Champs.pdf">
          <strong>FRC Champs</strong>
        </a>
      </p>
    </header>
  </body>
</html>
