<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header id="resources-tile">
        <h1 class="title">RESOURCES</h1>
        <p class="info-text"><a href="/img/media/direc/forms/Kickoff_2016_Permission_Form_Due_12-2.pdf"><strong>FIRST Robotics Season Local Kickoff</strong></a></p>
    </header>
  </body>
</html>
