<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <form method="GET">
    Get data for team: <input type="text" name="team" placeholder="1072" />
    <input type="submit" value="Search" />
  </form>
</body>
</html>
