<!DOCTYPE html>
<html>
  <head>
    <title>Scouting | Harker Robotics 1072</title>
    <link rel="icon" type="image/png" href="/img/art/harker-robotics-logo.png" />
    <meta name="viewport" content="width=device-width, user-scalable=0, minimal-ui">
    <link rel="manifest" href="/manifest/scouting.json">

    <link rel="stylesheet" href="/css/scouting.css"/>
  </head>
  <body>
    <div id="prompt">
      <span>Match number</span>
      <input type="text" id="promptel">
      <button id="promptsub">Submit</button>
    </div>
    <div id="main">
      <div id="match"></div>
      <div id="clock">0:15</div>
      <div id="team"></div>
      <div id="scouting">
        <div id="field">
          <div class="work-area" id="red-area"></div>
          <div class="loading-area" id="red-loading-area" tabindex="-1"><span class="counter">0</span></div>
          <div class="switch" id="red-switch" tabindex="-1"><span class="counter">0</span></div>
          <div id="scale" tabindex="-1"><span class="counter">0</span></div>
          <div class="loading-area" id="blue-loading-area" tabindex="-1"><span class="counter">0</span></div>
          <div class="switch" id="blue-switch" tabindex="-1"><span class="counter">0</span></div>
          <div class="work-area" id="blue-area" tabindex="-1"></div>
          <input id="autonslider" orient="vertical" type="range" value="0" min="-100" max="100"/>
        </div>
      </div>
      <button id="go">Start</button>
      <button id="undo">Undo</button>
    </div>
    <div id="final">
      <span>Crossed line in auto</span>
      <input type="radio" id="crossed1" name="crossedline" value="true">
      <label for="crossed1">Yes</label>
      <input type="radio" id="crossed2" name="crossedline" value="false">
      <label for="crossed2">No</label>

      <span>Ended on platform</span>
      <input type="radio" id="ended1" name="endedplat" value="true">
      <label for="ended1">Yes</label>
      <input type="radio" id="ended2" name="endedplat" value="false">
      <label for="ended2">No</label>

      <span>Lift</span>
      <input type="radio" id="lift1" name="lifted" value="0">
      <label for="lift1">No lifting</label>
      <input type="radio" id="lift2" name="lifted" value="1">
      <label for="lift2">Deployed single ramp</label>
      <input type="radio" id="lift3" name="lifted" value="2">
      <label for="lift3">Deployed double ramp</label>
      <input type="radio" id="lift4" name="lifted" value="3">
      <label for="lift4">Used ramp</label>
      <input type="radio" id="lift5" name="lifted" value="4">
      <label for="lift5">Climbed onto bar</label>
      <input type="radio" id="lift6" name="lifted" value="5">
      <label for="lift6">Climbed onto bar with bar on bot</label>

      <span>Comments</span>
      <textarea id="comments"></textarea>
      <br>
      <button type="submit" id="formsub">Submit</button>
    </div>
    <script src="/js/scouting.js"></script>
  </body>
</html>
