<!DOCTYPE html>
<html>
  <head>
    <title>Scouting | Harker Robotics 1072</title>
    <link rel="icon" type="image/png" href="/img/art/harker-robotics-logo.png" />
  </head>
  <body>
    <p>
      Test
    </p>
  </body>
</html>
