<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/member.css?v=2" />
    <link rel="stylesheet" type="text/css" href="/css/trainingResources.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/theme.css" />

    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <%- include(__base + 'views/partials/navbar-login.ejs') %>
    <header>
        <h1 class="title" style="font-size:calc(32pt+1vw)">TRAINING RESOURCES</h1>
        <h2 id="team-videos-title">Tutorials</h2>
        <!-- https://codepen.io/fusco/pen/Wvzjrm -->
        <div class="media-tutorial-tab-wrap">
            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1" name="tabGroup1" class="media-tutorial-tab" checked>
            <label for="tab1">Software</label>
        
            <!-- <input type="radio" id="tab2" name="tabGroup1" class="media-tutorial-tab">
            <label for="tab2">Design</label> -->
        
            <!-- <input type="radio" id="tab3" name="tabGroup1" class="media-tutorial-tab">
            <h3 for="tab3">Electrical</h3> -->
        
            <div id="tut-software-content" class="media-tutorial-tab__content">
                <% if (idList) { %>
                    <% for (let id of idList) { %>
                        <div class="video-card">
                            <iframe class="video-card-vid" src="https://www.youtube.com/embed/<%= id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <% } %>
                <% } %>                 
            </div>

        <div class="media-tutorial-tab__content"></div> 
        </div>
    </header>
  </body>
</html>