<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header id="challanges">
      <div class="container-fluid">
        <h1 class="title">USERS</h1>
        <p>In the future you will be able to change the users who have different privileges.</p>
      </div>
    </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
