<!DOCTYPE html>
<html>
  <head>
    <%- include(__base + 'views/partials/head.ejs') %>
  </head>
  <body>

    <!-- Navbar -->
    <%- include(__base + 'views/partials/navbar-login.ejs') %>

    <header id="wiki">
      <div class="container-fluid">
        <h1 class="title">VOLUNTEER</h1>
      </div>
    </header>

    <%- include(__base + 'views/partials/js-include.ejs') %>

  </body>
</html>
